* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Exo_2';
  src: url(../fonts/Exo_2/Exo2-Bold.eot?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn#iefix);
  src: url(../fonts/Exo_2/Exo2-Bold.ttf?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn) format('truetype');
}

@font-face {
  font-family: 'Exo_2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo-2-v4-latin-700.eot?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn');
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/Exo_2/exo-2-v4-latin-700.eot?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn#iefix') format('embedded-opentype'), url('../fonts/Exo_2/exo-2-v4-latin-700.woff2?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn') format('woff2'), url('../fonts/Exo_2/exo-2-v4-latin-700.woff?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn') format('woff'), url('../fonts/Exo_2/exo-2-v4-latin-700.ttf?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn') format('truetype'), url('../fonts/Exo_2/exo-2-v4-latin-700.svg?orgId=00D61000000cyMd&orgId=00DV0000008s3ER&orgId=00D61000000cyMd&orgId=00D0n000000D0nn#Exo2') format('svg');
}

html {
  height: 100%;
  width: 100%;
}

.catalog-product-compare-index > div {
  min-width: 600px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #666;
  text-align: center;
  min-width: 320px;
  position: relative;
  -webkit-text-size-adjust: none;
  background: #fff;
  z-index: 1;
}

body .carousel {
  max-height: 400px;
  margin: 0;
}

body > .wrapper {
  position: relative;
}

.section {
  margin: 20px 0;
}

.modal-backdrop.show {
  opacity: .7;
}

.row {
  width: 100%;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  color: #666;
  transition: .2s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
  color: #b90504;
}

.form-control:focus {
  border-color: #b90503;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(21, 21, 21, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(21, 21, 21, 0.3);
}

h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.15;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 7px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 7px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}

h6 {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 7px;
}

form {
  display: inline;
}

fieldset {
  border: 0;
}

legend {
  display: none;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}

caption, th, td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

address {
  font-style: normal;
  margin-bottom: 5px;
}

cite {
  font-style: normal;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: '';
}

small, big {
  font-size: 1em;
}

sup {
  font-size: 1em;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

.nobr {
  white-space: nowrap;
}

.wrap {
  white-space: normal !important;
}

.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.f-left, .left {
  float: left;
}

.f-right, .right {
  float: right;
}

.f-none {
  float: none;
}

.f-fix {
  float: left;
  width: 100%;
}

.no-display {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.no-bg {
  background: none !important;
}

.p-reletive {
  position: relative;
}

.calendar {
  z-index: 6;
}

.header-button.currency-list > a:after, .header-button.lang-list > a:after, .sf-menu li a:before, .add-to-links li a:before, .row-product .email-friend:before, .btn-remove:before, .btn-remove2:before, .btn-edit:before, .sorter .view-mode .grid:before, .sorter .list:before, .block-layered-nav dd li:before, .product-view .box-tags .form-add .input-box:before, .row-product .no-rating:before, #menu-icon:before, .sf-menu-phone li strong:before, span.toggle:before, .checkout-progress li:before, .about-padd-2 ul li:before, .currency-switch .currency-title:before, .language-list .language-title:before, .swipe ul a:before, .switch-show > div:after, #back-top span:before, .map-popup-close:before, .block-slider-sidebar .slider-sidebar-pager a:before, .home-link:before, button.button span:before, .header .form-search button.button span:before, .camera_wrap .camera_pag .camera_pag_ul li:before, .list-icon li a:before, .product-view .bx-controls-direction > a:before, .header .links li a:before, .block-cart-header .summary:before, .block-cart-header .empty:before, .sf-menu-phone li a:before, .footer ul li:after, .camera_prev:before, .camera_next:before, .footer ul li:before, .footer .footer-col .tel:before, .footer .free-shipping a:before, .product-view .bx-controls-direction > a:before, .header .links li a:before, .sf-menu > li.parent > a span:after, .banner-block li a:before, .tparrows:before, .freeslider-pag a:before, .mw_top_menu ul.mw-mega-menu-top li a:after, .postDetails-tags ul:before, .sf-menu > li.parent > a:after, .nav #nav > li.parent > a:after, .le-social-button-login button:before, #jQuery_ajaxcart_button_close:before, .header .form-search:before, .nav .grid-full > li > a > span:after, .block .link-wishlist:before, .block .link-cart:before, .ui-state-default:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-right: .3em;
  text-indent: 0 !important;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.page {
  margin: 0 auto;
  padding: 0 0 0;
  text-align: left;
}

.page-print {
  background: #fff;
  padding: 20px;
  text-align: left;
}

.page-empty {
  background: #fff;
  padding: 20px;
  text-align: left;
}

.page-popup {
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  background: #fff;
}

.page-popup .ratings .rating-box {
  float: none;
  margin: 0 auto 10px;
}

.main-container {
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.col-left {
  float: left;
}

.col-main {
  float: left;
}

.col-right {
  float: right;
}

.col1-layout .col-main {
  float: none;
}

.col2-left-layout .col-main {
  float: right;
}

.col3-layout .col-wrapper {
  float: left;
}

.col3-layout .col-wrapper .col-main {
  float: right;
}

.col2-set .col-narrow {
  width: 33%;
}

.col2-set .col-wide {
  width: 65%;
}

.cart-collaterals .col2-set .col-1, .cart-collaterals .col2-set .col-2 {
  width: 48%;
  float: left;
}

.cart-collaterals .col2-set .col-1 {
  margin-right: 20px;
}

.col3-set .col-1 {
  float: left;
  width: 32%;
}

.col3-set .col-2 {
  float: left;
  width: 32%;
  margin-left: 2%;
}

.col3-set .col-3 {
  float: right;
  width: 32%;
}

.col4-set .col-1 {
  float: left;
  width: 23.5%;
}

.col4-set .col-2 {
  float: left;
  width: 23.5%;
  margin: 0 2%;
}

.col4-set .col-3 {
  float: left;
  width: 23.5%;
}

.col4-set .col-4 {
  float: right;
  width: 23.5%;
}

input, select, textarea, button {
  font: 12px Lato, sans-serif;
  vertical-align: middle;
  color: #000;
}

input.input-text, select, textarea, .form-control {
  border: 1px solid #dddddd;
  border-radius: 0.3em;
}

input.error {
  border: 1px solid #990000;
}

input.input-text, textarea {
  padding: 6px 12px;
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  padding: 2px;
  moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

select option {
  padding-right: 10px;
}

select.multiselect option {
  border-bottom: 1px solid #ddd;
  padding: 2px 5px;
}

select.multiselect option:last-child {
  border-bottom: 0;
}

textarea {
  overflow: auto;
}

input.radio {
  margin-right: 3px;
}

input.checkbox {
  margin-right: 3px;
}

input.qty {
  width: 40px !important;
  text-align: center !important;
  background: none;
  display: inline-block;
}

button.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.button {
  -webkit-border-fit: lines;
  outline: none;
}

button.button {
  background: transparent;
  border: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: auto;
}

button.button > span {
  float: left;
  text-align: center;
  white-space: normal;
  padding: 0;
}

button.button span span {
  padding: 16px 24px;
  display: block;
  float: left;
}

button.button > span, .page-sitemap .links a, .but-link, .scrollpages a.loadmore {
  font-family: 'Lato', sans-serif;
  background: #303c4b;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

button.button-bg-1 > span {
  background: #ffa744;
}

button.button-bg-2 > span {
  background: #777777;
}

button.button > span:after, .but-link:after {
  background: none repeat scroll 0 0 #73d5c9;
  bottom: 50%;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 0%;
  z-index: -1;
}

body.ps-static button.button:hover > span:after, .page-popup button.button:hover > span:after, body.ps-static .but-link:hover:after, body.ps-static .but-link:focus:after {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease 0s;
}

body.ps-static button.button:hover > span {
  background: none;
}

body.ps-static .page-sitemap .links a:hover {
  color: #fff;
}

.products-grid button.btn-cart > span {
  width: 50px;
  height: 51px;
}

.products-grid button.btn-cart > span:before {
  content: "\f07a";
  font-size: 20px;
  line-height: 48px;
}

.products-grid button.btn-cart span {
  float: none;
  display: block;
}

.products-grid button.btn-cart span span {
  display: none;
}

.page-sitemap .links a, .but-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding: 0px 11px;
  height: 36px;
  line-height: 36px;
}

.but-link {
  font-size: 13px;
  text-transform: capitalize;
  padding: 10px 20px 12px;
  line-height: 19px;
  height: auto;
  float: left;
}

.link-extra .but-link:hover, .but-link:focus {
  color: #fff;
}

p.control input.checkbox, p.control input.radio {
  margin-right: 6px;
}

.form-list label {
  float: left;
  color: #000;
  font-weight: bold;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.form-list label.required em {
  float: right;
  font-style: normal;
  color: #73d5c9;
  position: absolute;
  top: 0;
  right: -8px;
}

.form-list li.control label {
  float: none;
}

.form-list li.control input.radio, .form-list li.control input.checkbox {
  margin-right: 6px;
}

.form-list li.control .input-box {
  clear: none;
  display: inline;
  width: auto;
}

.form-list .input-box {
  display: block;
  clear: both;
  margin-bottom: 7px;
  width: 260px;
}

.form-list .field {
  float: left;
  width: 360px;
}

.form-list input.input-text {
  width: 333px;
}

.form-list textarea {
  resize: none;
  width: 254px;
  height: 10em;
}

.form-list select {
  width: 100%;
}

.form-list li.wide .input-box {
  width: 535px;
}

.form-list li.wide input.input-text {
  width: 529px;
}

.form-list li.wide textarea {
  width: 529px;
}

.form-list li.additional-row {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 7px;
}

.form-list li.additional-row .btn-remove {
  float: right;
  margin: 5px 0 0;
}

.form-list .input-range input.input-text {
  width: 74px;
}

.form-list .customer-name-prefix .input-box, .form-list .customer-name-suffix .input-box, .form-list .customer-name-prefix-suffix .input-box, .form-list .customer-name-prefix-middlename .input-box, .form-list .customer-name-middlename-suffix .input-box, .form-list .customer-name-prefix-middlename-suffix .input-box {
  width: auto;
}

.form-list .name-prefix {
  width: 65px;
}

.form-list .name-prefix select {
  width: 55px;
}

.form-list .name-prefix input.input-text {
  width: 49px;
}

.form-list .name-suffix {
  width: 65px;
}

.form-list .name-suffix select {
  width: 55px;
}

.form-list .name-suffix input.input-text {
  width: 49px;
}

.form-list .name-middlename {
  width: 132px;
}

.form-list .name-middlename input.input-text {
  width: 104px;
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname, .form-list .customer-name-prefix-middlename .name-firstname {
  width: 140px;
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-middlename .name-firstname input.input-text {
  width: 124px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname {
  width: 318px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text {
  width: 189px;
}

.field.name-suffix {
  margin-top: 8px;
}

.field.name-prefix {
  margin-bottom: 10px;
}

.form-list .customer-name-prefix-suffix .name-firstname {
  width: 210px;
}

.form-list .customer-name-prefix-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-name-prefix-suffix .name-firstname {
  width: 210px;
}

.form-list .customer-name-prefix-suffix .name-lastname {
  width: 205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text {
  width: 189px;
}

.form-list .customer-name-prefix .name-firstname, .form-list .customer-name-middlename .name-firstname {
  width: 210px;
}

.form-list .customer-name-suffix .name-lastname, .form-list .customer-name-middlename .name-firstname, .form-list .customer-name-middlename-suffix .name-firstname, .form-list .customer-name-middlename-suffix .name-lastname {
  width: 230px;
}

.opc .form-list .customer-name-suffix .name-lastname, .opc .form-list .customer-name-middlename .name-firstname, .opc .form-list .customer-name-middlename-suffix .name-firstname, .opc .form-list .customer-name-middlename-suffix .name-lastname {
  width: 191px;
}

.form-list .customer-name-prefix .name-firstname input.input-text, .form-list .customer-name-suffix .name-lastname input.input-text, .form-list .customer-name-middlename .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-lastname input.input-text {
  width: 202px;
}

.opc .form-list .customer-name-prefix .name-firstname input.input-text, .opc .form-list .customer-name-suffix .name-lastname input.input-text, .opc .form-list .customer-name-middlename .name-firstname input.input-text, .opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text, .opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text {
  width: 171px;
}

.form-list .customer-dob .dob-month, .form-list .customer-dob .dob-day, .form-list .customer-dob .dob-year {
  float: left;
  width: 85px;
}

.form-list .customer-dob input.input-text {
  display: block;
  width: 74px;
}

.form-list .customer-dob label {
  font-size: 10px;
  font-weight: normal;
  color: #888;
}

.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month {
  width: 60px;
}

.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text {
  width: 35px;
}

.form-list .customer-dob .dob-year {
  width: 140px;
}

.form-list .customer-dob .dob-year input.input-text {
  width: 213px;
}

.buttons-set {
  clear: both;
  margin: 5px 0 0;
  padding: 5px 0 5px 0;
}

.buttons-set .back-link {
  float: left;
  margin-top: 5px;
}

.buttons-set button.button {
  float: right;
}

.buttons-set p.required {
  margin: 0 0 10px;
  font-size: 12px;
  color: #73d5c9;
}

.fieldset > p {
  margin-bottom: 10px;
}

.fieldset .legend {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  color: #73d5c9;
}

.validation-advice {
  clear: both;
  min-height: 13px;
  margin: 3px 0 0;
  font-size: 11px;
  line-height: 13px;
  color: #f00;
}

.validation-failed {
  border: 1px dashed #f00 !important;
  background: #faebe7 !important;
}

p.required {
  font-size: 10px;
  text-align: right;
  color: #f00;
}

.v-fix {
  float: left;
}

.v-fix .validation-advice {
  display: block;
  width: 12em;
  margin-right: -12em;
  position: relative;
}

.success {
  color: #3d6611;
  font-weight: bold;
}

.error {
  color: #f00;
  font-weight: bold;
}

.notice {
  color: #ccc;
}

.messages, .messages ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.messages {
  width: 100%;
  overflow: hidden;
}

.messages li {
  margin: 0 0 20px;
}

.messages li li {
  margin: 4px 0 3px;
}

.category-title .messages .notice-msg, .checkout-cart-index .messages .notice-msg {
  display: none;
}

div.alert a {
  font-size: 12px;
  padding-left: 5px;
}

div.alert a:hover {
  color: #fff;
}

div.alert {
  position: fixed;
  background: #353535;
  top: 0;
  left: 50%;
  width: 333px;
  margin-left: -220px;
  padding: 20px 60px;
  color: #fff;
  z-index: 999;
  font-size: 12px;
  font-weight: bold;
  color: #e5e5e5;
  border-radius: 0 0 3px 3px;
  text-align: center;
}

div.alert button {
  background: url(../images/remove-popup.png) 0 0 no-repeat;
  width: 9px;
  height: 9px;
  position: absolute;
  right: 20px;
  top: 45%;
  border: none;
  z-index: 9999;
}

div.alert button:hover {
  cursor: pointer;
  background-position: 0 -9px;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
  border-style: solid !important;
  border-width: 1px !important;
  background-position: 17px center !important;
  background-repeat: no-repeat !important;
  min-height: 24px !important;
  padding: 7px 8px 10px 56px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.success-msg {
  border-color: #dfebb5;
}

.error-msg {
  background: url(../images/i_msg-note.png) left -3px no-repeat #fde4e1;
  color: #df0505;
  font-weight: bold;
}

.success-msg {
  background-color: #f7fde1;
  background-image: url(../images/i_msg-success.gif);
  color: #95bc01;
  font-weight: bold;
}

.note-msg, .notice-msg {
  background: url(../images/i_msg-note.png) 7px 6px no-repeat #fde4e1 !important;
  border-color: #ebbcb5;
  color: #df0505;
  font-weight: bold;
}

.note-msg-empty-catalog {
  background: url(../images/empty-catalog.png) no-repeat left top;
  padding: 33px 30px 35px 150px;
}

.availability-only {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
  margin-bottom: 15px;
}

.breadcrumbs {
  background: #fbfbfb;
  padding: 8px 19px;
  margin: 0 0 60px;
  overflow: hidden;
}

.breadcrumbs li {
  float: left;
}

.breadcrumbs li a {
  text-decoration: none;
}

.breadcrumbs li span {
  display: inline-block;
  margin: 0 8px 0 6px;
}

.breadcrumbs li strong {
  font-weight: normal;
}

.page-title, .category-title {
  margin: 0 0 40px;
  padding-bottom: 10px;
}

.category-title {
  display: block;
}

.page-title h1, .page-title h2 {
  font-size: 32px;
  line-height: 34px;
  font-family: 'Exo_2';
}

.page-title h3 {
  font-size: 26px;
}

.page-title.center, .category-title {
  position: relative;
}

.page-title .separator {
  margin: 0 3px;
}

.page-title .link-rss {
  float: right;
}

.title-buttons {
  text-align: right;
}

.title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 {
  float: left;
}

.subtitle, .sub-title {
  clear: both;
}

button {
  background-color: transparent;
  border: none;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next, .slick-prev:focus, .slick-next:focus {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
  background: #b90504;
  top: 53%;
  margin-top: -45px;
  font-size: 0;
  border: none;
  z-index: 2;
  transition: .3s;
  opacity: 1;
}

.slick-prev:hover, .slick-next:hover {
  color: #b90504;
  opacity: 1;
  outline: none;
  background: white;
  transition: .3s;
}

.slick-prev:before, .slick-next:before {
  font-family: "Font Awesome 5 Free";
  margin-top: -10px;
  font-weight: 900;
}

.slick-prev:before {
  content: '\f053';
}

.slick-next:before {
  content: '\f054';
}

.slick-prev:after, .slick-next:after {
  margin-top: 22px;
  margin-top: 2.2rem;
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #b90504;
}

.slick-prev:hover:after, .slick-next:hover:after {
  color: #b90504;
}

.slick-prev {
  left: 10px;
  left: 1.0rem;
}

.slick-next {
  right: 10px;
  right: 1.0rem;
}

.ct-slick-arrows--type2 .slick-prev, .ct-slick-arrows--type2 .slick-next {
  opacity: 0.85;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.ct-slick-arrows--type2 .slick-prev:before, .ct-slick-arrows--type2 .slick-next:before, .ct-slick-arrows--type2 .slick-prev:after, .ct-slick-arrows--type2 .slick-next:after {
  background-color: #fff;
  height: 15px;
  height: 1.5rem;
  width: 70px;
  width: 7rem;
}

.ct-slick-arrows--type2 .slick-prev:before, .ct-slick-arrows--type2 .slick-next:before {
  margin-top: -20px;
  margin-top: -2rem;
}

.ct-slick-arrows--type2 .slick-prev:after, .ct-slick-arrows--type2 .slick-next:after {
  margin-top: 20px;
  margin-top: 2rem;
}

.ct-slick-arrows--type2 .slick-prev:hover:before, .ct-slick-arrows--type2 .slick-next:hover:before {
  margin-top: -20px;
  margin-top: -2rem;
}

.ct-slick-arrows--type2 .slick-prev:hover:after, .ct-slick-arrows--type2 .slick-next:hover:after {
  margin-top: 20px;
  margin-top: 2rem;
}

.ct-slick-arrows--type2 .slick-prev:hover:active, .ct-slick-arrows--type2 .slick-next:hover:active {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.ct-slick-arrows--type2 .slick-prev {
  left: 10px;
  left: 1rem;
}

.ct-slick-arrows--type2 .slick-prev:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ct-slick-arrows--type2 .slick-prev:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ct-slick-arrows--type2 .slick-prev:hover:before {
  margin-top: -27px;
  margin-top: -2.7rem;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.ct-slick-arrows--type2 .slick-prev:hover:after {
  margin-top: 27px;
  margin-top: 2.7rem;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.ct-slick-arrows--type2 .slick-next {
  right: 10px;
  right: 1rem;
}

.ct-slick-arrows--type2 .slick-next:before, .ct-slick-arrows--type2 .slick-next:after {
  left: auto;
  right: 0;
}

.ct-slick-arrows--type2 .slick-next:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ct-slick-arrows--type2 .slick-next:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ct-slick-arrows--type2 .slick-next:hover:before {
  margin-top: -27px;
  margin-top: -2.7rem;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.ct-slick-arrows--type2 .slick-next:hover:after {
  margin-top: 27px;
  margin-top: 2.7rem;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#home.ct-header.ct-header--slider {
  background-size: cover;
}

.ct-header .ct-slick {
  margin-bottom: 0;
}

.ct-header {
  background-position: center;
  background-repeat: no-repeat;
}

.slick-initialized .slick-slide {
  display: block;
}

.ct-u-display-tablex {
  display: table;
  width: 100%;
  height: 400px;
}

.ct-u-display-tablex > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.ct-header h1.big {
  font-size: 4.7rem;
  line-height: 1;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-top: 50px;
}

.ct-header p {
  font-size: 2.3rem;
  line-height: 1.1;
  margin: 30px 0 40px;
  color: #fff;
}

* {
  outline: none !important;
}

.btn:hover, .btn:focus, .btn:active {
  color: #fff;
}

.btn-transparent {
  background-color: transparent;
  border: 3px solid #fff;
}

.ct-slick .slick-track, .ct-slick .slick-list, .ct-slick .item, .ct-slick .slick-item {
  min-height: inherit;
}

.ct-slick .item {
  background-size: cover;
}

#home .slick-list {
  height: 400px;
}

.slick-dots li.slick-active button {
  background: #b90504;
  border-color: #b90504;
  opacity: 1;
}

.slick-dots {
  position: absolute;
  width: 200px;
  background-color: white;
  bottom: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 25px;
  margin: 0 5px;
  padding: 10px 0;
  cursor: pointer;
}

.slick-dots li button {
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 50%;
  background: #939699;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: background 200ms linear, border-color 200ms linear;
}

.slick-dots li button:before {
  opacity: 1;
  color: transparent;
}

.slick-dots li.slick-active button:before {
  color: transparent;
}

@media only screen and (min-width: 1048px) {
  .slick-next {
    right: calc((1600px - 1400px) / 4 - 5em - 1.5em);
  }
  
  .slick-prev {
    left: calc((1600px - 1400px) / 4 - 5em - 1.5em);
  }
}

@media screen and (min-width: 768px) {
  #mobile-menu {
    display: none !important;
  }
  
  #calltomenu {
    display: none !important;
  }
  
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

div#mobile-menu {
  text-align: left;
  text-transform: uppercase;
  z-index: 100;
}

.dropdown-toggle:after {
  content: none;
}

.mm-menu {
  background: #fff;
}

.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a {
  color: #666;
  font-weight: 600;
}

#footer .menu h2 {
  font-size: 16px !important;
  line-height: 1.6 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #b90504;
}