body {
    position: relative;
}
#site-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    background-color: black;
    opacity: 0;
    z-index: 9999999;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#site-modal.active {
    display: block;
    opacity: 0.5;
}
#site-modal-content {
    width: 90%;
    display: none;
    height: auto;
    overflow: auto;
    overflow-y: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin-top: 55px;
    right: 0;
    background-color: white;
    z-index: 9999999;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#site-modal-content .content {
    padding: 8%;
    padding-bottom: 0px;
}
#site-modal-content.active {
    display: block;
    opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#site-modal-content h5 {
    font-size: 20px;
    color: #4D4D4D;
    letter-spacing: 0;
    line-height: 30px;
    padding: 30px 0px 5px 0px;
}
#site-modal-content p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: 0;
    line-height: 20px;
}
#site-modal-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer!important;
    z-index: 9999;
}
#site-modal-close img {
    width: 100%;
    height: auto;
}
#site-modal-content.remove-act {
    left: -3500px;
}
#site-modal-share {
    height: auto;
    position: fixed;    
    right: 5%;
    top: 45%;
    display: none;
}

#site-modal-footer {
    width: 100%;
    height: 190px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
#site-modal-footer img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0px;
}
#site-modal-footer p {
    display: block;
    width: 40%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 25%;
    z-index: 999;
    color: white;
}
#submenu-main-item {
    margin: 10px 0px;
    border: none;
    border-radious: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-right: 1px solid #B90504;
}
#submenu-main-item img,
#submenu-main-item h3,
#submenu-main-item button {
    width: 80%;
    margin: 0 auto;
}
#submenu-main-item button {
    margin: 0 auto;
    float: none;
    display: block;
    padding: 8px 0px;
    margin-top: 10px;
}
#submenu-main-item img {
    -webkit-box-shadow: 6px 7px 43px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 43px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 43px -12px rgba(0, 0, 0, 0.75);
}
#submenu-main-item h3 {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 0px;
    text-align: center;
}
#submenu-main-item-header {
    height: 50px;
    padding-top: 10px;
    margin-bottom: -20px;
    position: relative;
    z-index: 99999;
    margin-bottom: -20px;
}
#submenu-main-item-header h4 {
    color: #B90504;
}
#submenu-main-item-header img {
    height: 20px;
    width: auto;
    margin-right: 20px;
}
#header-hover-submenu.big #header-hover-submenu-itens {} #submenu-main-item-map ul {
    float: left;
    max-width: 20%;
    padding: 20px 15px;
}
#header-hover-submenu.big {
    max-height: none;
}
#submenu-main-item-map ul h3 {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    border-bottom: 1px solid #b90504;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 20px;
    clear: both;
}
#submenu-main-item-map ul li {
    width: 100%;
    padding: 5px 0px 0px 5px;
}
#submenu-main-item-header .header-form,
#submenu-main-item-header .submenu-main-item-close {
    margin-right: 10px;
}
/*   .header-search-icon
                    {
                        background-image: url('images/search-white.png');
                        background-color: #b90504;
                    }*/

#header-hover-submenu-big .submenu-result-block li img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
#header-hover-submenu,
#header-hover-submenu-big {
    z-index: 9999999;
}
.header-form .active,
.header-form.active {
    background-color: none;
}
#header-hover-submenu-big.active .submenu-result-block li {
    display: block!important;
    padding: 20px 10px;
}
#header-hover-submenu-big.active .submenu-result-block li img {
    padding-bottom: 30px;
}
.submenu-result-block button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 8px 30px;
}
.submenu-result-block-top {
    display: none;
}
#header-hover-submenu-big.active ul li {
    display: block;
    padding: 5px 0px;
    font-size: 12px;
}
/* Modal ITF */

.modal-top-image-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.modal-top-image-title {
    width: 100%;
    text-align: center;
    top: 40%;
    position: absolute;
}
.modal-top-image-title h1 {
    color: white;
}

#site-modal-footer #modal-logo
{
    width: auto;
    height: auto;
    top: 25%;
    left: 5%;
}

#site-modal-content .modal-top-image .modal-top-image-title p {
    font-size: 24px;
    color: white;
    font-weight: 500;
    padding-top: 10px;
}

/* Modal Comparativo */

#modal-table
{
    max-width: 1400px!important;
}

#modal-comparativo ul li img
{
    width: 100%!important; 
    height: auto!important;
}
.modal-comparativo-details
{
    right: 10%!important;
    top: 5%!important;
}