/* Regular Symbols */

.block-symbols
{
    min-height: 200px;
}

#title-dot
{
    right: 30%;
    top: -50px;
}

#block-a-square-big
{
    right: -5%;
    top: -75px;
}

#block-a-square-tiny-gray
{
    right: 15px;
    bottom: 50%;
}

#block-a-square-tiny-red
{
    right: 30px;
    bottom: 10%;
}

#block-b-square-small
{
    left: -12%;
    top: -99%
}

#block-b-square-tiny
{
    left: -8%;
    top: 31%;
}

#block-c-square-small
{
    bottom: 20%;
    right: 15%;
}

#block-c-square-tiny-dark-gray
{
    right: 5px;
    top: 2%;
}

#block-c-square-tiny-red
{
    right: 25px;
    bottom: 5%;
}

#block-d-square-big
{
    left: 34%;
    top: 10%;
}

#block-d-square-tiny-dark-gray
{
    left: 20%;
    bottom: 10%;
}

#block-d-square-tiny-red
{
    left: 10%;
    top: 32%;
}

#block-d-square-big-light-gray
{
    left: -12%;
    top: 20%;
}

#block-e-square-tiny-red
{
    top: -50%;
    right: 15%;
}

#block-e-square-tiny-dark-gray
{
    top: -30%;
    right: 8%;
}
