header, #main-menu {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.fur-red {
    color: #E22D27 !important;
    background: linear-gradient(180deg, #E22D27 0%, #B31217 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

section h3 {
    font-style: normal;
    font-weight: bold !important;
    font-size: 24px !important;
    padding: 0;
}

section h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

section p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

html, body, p, h1, h2, h3, h4, div, button, ul, li {
    text-align: left;
}

.form-control {
    border-radius: 2px;
    border: 1px solid #C0C0C0;
    font-size: 14px;
    font-weight: 400;
}

select.form-control {
    margin: 0;
    height: calc(2.25rem + 2px) !important;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
}

.btn.btn-success {
    background: linear-gradient(180deg, #E22D27 0%, #B31217 100%);
    border: transparent;
}

.btn.btn-default:hover, .btn.btn-default:focus {
    color: #000;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 45, 39, 0.81);
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.card.card-slim {
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.06);
    border: 1px solid transparent;
}

.card-img {
    border-radius: 10px;
}

.headquarters img {
    width: 100%;
    border-radius: 10px;
}

.headquarters p {
    color: #9E9E9E;
}

.headquarters-body {
    position: relative;
    width: 75%;
    padding: 15px 0;
    margin-top: -54px;
    background-color: white;
    border-radius: 0 10px 0 0;
}

.breadcrumb {
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: Lato;
    font-style: italic;
    font-size: 14px;
}

.breadcrumb-item {
    display: inline-block;
    text-transform: capitalize;
}

.breadcrumb-item.active {
    color: #000;
}

.breadcrumb-item+.breadcrumb-item.active::before {
    color: #000;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '●';
}

.accordion .card {
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin: 10px 0;
}

.accordion .card-header {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}

.accordion .card-header .btn-link {
    color: #212121;
}

.accordion .card-header .btn-link:hover, .accordion .card-header .btn-link:focus {
    text-decoration: none;
    color: #000;
}

.accordion .card-header button {
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
}

.accordion .card-header button:after {
    position: absolute;
    right: 0;
    content: '\f077';
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 24px;
}

.accordion .card-header button.collapsed:after {
    content: '\f078';
}

.accordion .card-body {
    color: #666666;
}

.question-buttons .btn {
    border-radius: 50%;
    border: 1px solid #666666;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

.question-buttons .btn i {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.select-wrapper {
    position: relative;
}

.select-wrapper:after {
    position: absolute;
    content: '\f078';
    font-family: FontAwesome;
    right: 0;
    top: 0;
    color: #9E9E9E;
    margin: .65rem 0.5rem 0 0;
}

.select-wrapper-lg:after {
    margin: 1rem 1.5rem 0 0;
}

.form-control[disabled] {
    opacity: .5;
}

.form-control-lg {
    min-height: 48px;
}

.btn-lg {
    min-height: 48px;
    font-size: 16px;
}

.b-transparent {
    border: 0;
}

.form-control input {
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 24px;
    flex: 1;
}

.input-group.form-control .btn {
    padding: 5px 10px;
    margin: -5px -10px;
    border: 0;
}

.input-group.form-control .btn i {
    padding: 0;
    color: #9E9E9E;
}

.btn-category {
    background: linear-gradient(0deg, #b31217, #e22d27);
    color: white;
    padding: 15px;
    border-radius: 8px;
    min-height: 125px;
}

.btn-category i {
    color: white;
    font-size: 26px;
    padding: 10px;
}

section.page-header, section.page-header-black {
    height: 220px;
}

section.page-header h1, section.page-header p {
    color: white !important;
}

section.page-header .breadcrumb a {
    color: white;
}

section.page-header .breadcrumb-item+.breadcrumb-item.active::before {
    color: white;
}

section.container-form {
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
    padding: 15px;
    margin-top: -40px;
    background-color: white;
}

.card-account .card-img {
    height: 80%;
    background-color: white;
    width: 65%;
    margin-left: 1.25rem;
    margin-top: -40px;
    padding: 7px;
    border-radius: .5rem;
}

.card-account .card-img * {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: .5rem;
}

.card-account h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.card-account {
    cursor: pointer;
    background-color: #F0F0F0;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.card-account p {
    color: #616161;
    font-size: 14px;
}

.title-filter {
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.custom-check input[type="checkbox"], .custom-check input[type="radio"] {
    visibility: hidden;
}

.custom-check input[type="checkbox"] + span, .custom-check input[type="radio"] + span {
    position: relative;
    margin-left: 5px;
}

.custom-check input[type="checkbox"] + span:before, .custom-check input[type="radio"] + span:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 14px;
    left: -20px;
}

.custom-check input[type="checkbox"]:checked + span:before, .custom-check input[type="radio"]:checked + span:before {
    content: '\f14a';
    color: #B90504;
}

.custom-check input[type="checkbox"] + span:before, .custom-check input[type="radio"] + span:before {
    content: '\f096';
}

.account-img {
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 7px;
    margin-top: -50px;
    margin-right: 15px;
    border-radius: 1.5rem;
}

.account-img * {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 1.5rem;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.btn.btn-lg {
    line-height: 2;
}

.pagination .page-item a {
    border: none;
    margin: 0 5px;
    color: #000;
}

.pagination .page-item a.active {
    font-weight: 900;
}

.pagination .page-btn a {
    background-color: #B31217;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.pagination .page-btn a i {
    color: white;
    padding: 0
}

@media (max-width: 767px) {
    section.page-header, section.page-header-black {
        height: 280px;
    }
}

@media (min-width: 768px) {
    .mln-md-15 {
        margin-left: -15px;
    }

    #container-float-faq {
        position: relative;
    }

    #faq-card {
        position: absolute;
        top: -200px;
    }
}

/* PRODUCTS AND SERVICES */

img[id*=product-details] {
    height: 40px;
    margin-bottom: 15px;
}

.social-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 36px;
    margin: 0 auto;
}

.social-links i {
    margin: 5px;
    padding: 0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: linear-gradient(180deg, #E22D27 0%, #B31217 100%);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.container-thumbs {
    position: relative;
}

.acesso-rapido .active {
    color: #E22D27 !important;
    background: linear-gradient(180deg, #E22D27 0%, #B31217 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.acesso-rapido li {
    padding: 5px 0;
    font-size: 16px;
}

.product-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
    width: 140px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 15px;
}

.product-img img {
    padding: 2px;
}

.btn-more-info {
    border: 1px solid #ddd;
    color: #333;
    transition: .3s;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 0.3em;
}

.btn-more-info:hover, .btn-more-info:active, .btn-more-info:focus {
    color: #333;
}

.badge {
    position: absolute;
    font-size: 10px;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    color: #fff;
}

.badge-new {
    background-color: #fbbc03;
}

.badge-descontinued {
    background-color: #9e9e9e;
    top: unset;
    bottom: 5px;
}

.products-related .btn {
    padding: 10px;
    font-weight: 400;
}

.close:not(:disabled):not(.disabled) {
    background: transparent;
    top: 28px;
    right: 28px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 38px;
}

.modal-header {
    border-bottom: 1px solid transparent;
}

.option-download {
    cursor: pointer;
    padding: 5px 0;
    font-size: 16px;
}

.btn-red {
    font-weight: 600;
}

.btn-budget {
    padding: 7px;
    font-size: 20px;
}

.btn-budget i {
    padding: 0;
    color: #9E9E9E;
}

.card .card-text {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    border-top: 1px solid #ddd;
}

.testimonial-item p {
    text-align: center;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

/* page ift */

.dark-text-color {
    color: #212121 !important;
}

.buttons-toggle .btn {
    background-color: #eaeaea;
    padding: .5rem 1rem;
    margin: 1rem .25rem;
    font-weight: 100;
    min-width: 120px;
}

.page-ift-title {
    font-family: 'Exo_2';
}

.buttons-toggle .btn:hover, .buttons-toggle .btn:active {
    color: rgb(25, 25, 25);
}

.buttons-toggle .btn-selected {
    background-color: #b90504;
    color: #ddd;
}

.buttons-toggle .btn-selected:hover, .buttons-toggle .btn-selected:active {
    color: #fff;
}

.page-header-ift {
    height: 245px !important;
    background-position: center -120px;
}

.page-ift-header-overlay {
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
}

.page-ift-online-card-img {
    width: 91px;
    margin: 0 auto;
    padding: 48px 0 20px 0;
}

.page-ift-online-card-img img {
    width: 100%;
    height: auto;
}

@media(min-width: 968px) {
    #ift-form {
        margin-bottom: 40px;
    }

    .page-header-ift {
        height: 220px !important;
    }
}

.career-select {
    position: relative;
}

.career-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #CCCCCC;
    background-color: white;
    font-size: 12px;
    padding: 12px 39px 12px 16px;
    width: 100%;
}

.career-select::after {
    content: '';
    position: absolute;
    right: 22px;
    top: 17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #444444 transparent transparent transparent;
}

.career-buttons {
    display: none;
}

.ift-form-container .show-all {
    display: none;
    margin: 0 auto;
    font-size: 12px;
    text-decoration: underline !important;
}

.site-ift-center-address:last-child {
    padding: 0 16px 48px 16px;
}

.site-ift-center-address-info {
    background-color: black;
    color: #E8E8E8;
    padding: 24px 16px;
    overflow-y: scroll;
    height: 40%;
}

.site-ift-center-address-info .city {
    font-family: 'Exo_2';
    color: white !important;
    font-size: 16px !important;
}

.site-ift-center-address-info .email {
    font-size: 14px;
    margin-bottom: 8px;
}

.site-ift-center-address-info .phone {
    font-size: 14px;
    margin-bottom: 8px;
}

.site-ift-center-address-info .social {
    display: inline-block;
    font-size: 14px;
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: left center;
    height: 16px;
    background-size: 16px;
    margin-bottom: 12px;
    margin-right: 16px;
    text-decoration: underline;
}

.site-ift-center-address-info .social:last-child {
    margin-right: 0;
}

.site-ift-center-address-info a {
    color: inherit !important;
}

.site-ift-center-address-info .map-link {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.site-ift-center-address-info .map-link::after {
    position: absolute;
    content: '';
    right: -20px;
    top: 3px;
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.site-ift-center-address-info .site {
    font-size: 14px;
}

.site-ift-center-address-info .whatsapp {
    font-size: 14px;
}

.site-ift-center-address-info .skype {
    font-size: 14px;
}

.site-ift-modal-overlay {
    display: flex;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}

.site-ift-modal-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.site-ift-modal-content {
    background: white;
    width: 100%;
    height: 100%;
    clear: both;
    overflow-y: auto;
}

.site-ift-modal-close {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.page-ift-trainig-list li {
    overflow-y: auto;
}

.page-ift-trainig-list li {
    margin-bottom: 20px;
}

.page-ift-trainig-list h2 {
    font-size: 16px !important;
    font-family: 'Exo_2';
    color: black !important;
}

.page-ift-trainig-list h3 {
    font-size: 14px !important;
    font-family: 'Exo_2';
    color: #B90504 !important;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
}

.page-ift-trainig-list p {
    font-size: 12px;
}

.site-ift-center-map-container {
    background-color: #cccccc;
    width: 100%;
    height: 400px;
    max-height: 60vh;
}

@media(min-width: 992px) {
    .page-ift-card-container {
        padding-right: 6rem !important;
    }

    .site-ift-modal-content {
        height: calc(100% - 40px);
        max-height: 632px;
        margin-top: 40px;
        clear: both;
    }

    .site-ift-modal-container {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        max-height: 642px;
        max-width: 946px;
        margin: 0 auto;
    }

    .site-ift-modal-close {
        position: absolute;
        top: 0;
        right: 0;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: black;
        background-position: center;
        padding: 0;
    }

    .career-buttons {
        display: block;
    }

    .career-select {
        display: none;
    }

    .site-ift-center-address {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
    }

    .site-ift-center-address:last-child {
        padding: 40px;
    }

    .site-ift-center-map-container {
        height: 60%;
    }

    .site-ift-center-address-info {
        padding: 40px;
    }

    .site-ift-center-address-info .city {
        font-size: 18px;
    }

    .page-ift-trainig-list h2 {
        font-size: 24px !important;
    }

    .list-of-careers .card-img {
        height: 174px;
    }
}

@media(max-width: 767px) {
    .page-ift-title {
        font-size: 22px;
    }

    .card--out {
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    .ift-form-container .show-all {
        display: inline-block;
    }

    .page-ift-subtitle {
        font-size: 20px !important;
    }

    .page-ift-breadcrumb {
        display: none;
    }

    .page-ift-online-card-img {
        width: 56px;
        padding: 24px 0 0 0;
    }

    #login-and-texts {
        margin-top: -130px !important;
    }

    .training-center-title {
        font-size: 16px !important;
        line-height: 16px !important;
    }

    .training-center-subtitle {
        font-size: 12px !important;
    }
}

@media(min-width: 768px) {
    .card--in {
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    .card--in .card-body {
        padding: 0;
    }

    .ift-form-container {
        padding-top: 174px;
    }
}

form .form-control, .form button {
    min-height: 42px;
}

.reset-shadow {
    box-shadow: none !important;
}

.card--training-center p {
    color: #444;
    font-weight: 100;
}

.card--training-center h3 {
    font-size: 1rem !important;
    font-family: 'Exo_2';
}

.card--training-center .address {
    font-size: 14px !important;
    line-height: 1.4rem !important;
    font-weight: 100;
    letter-spacing: .02rem;
}

.card--training-center a {
    display: inline-block;
    font-size: 12px;
    color: #E22D27 !important;
    font-weight: 600;
}

.card--training-center .phone span {
    display: inline-block;
}

.training-center-whatsapp {
    position: relative;
    text-decoration: underline;
    margin-left: 32px;
}

.training-center-whatsapp::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -16px;
    width: 12px;
    height: 12px;
    background-size: 100%;
}

.training-center-anchor {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.training-center-anchor::after {
    content: '';
    position: absolute;
    right: -13px;
    top: 6px;
    width: 5px;
    height: 9px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 5px auto;
}

.training-center-whatsapp a {
    color: inherit !important;
    font-weight: inherit;
}

.ift-location-select {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: .3em;
}

.ift-location-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 11px 36px 11px 11px;
    margin: 0;
    font-size: 1rem;
    width: calc(100% - 40px);
    height: auto !important;
    margin-left: 40px;
}

.ift-location-select::before {
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: #cccccc;
    height: calc(100% + 2px);
    width: 40px;
    text-align: center;
    border-radius: .3em 0 0 .3em;
    padding-top: 12px;
    font-size: .9rem;
    font-weight: 600;
}

.ift-location-select::after {
    content: '';
    position: absolute;
    right: 22px;
    top: 17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #444444 transparent transparent transparent;
}

.ift-location-select--focus {
    border-color: #B90504;
}

.ift-location-select--focus::before {
    background-color: #B90504;
    color: white;
}

.ift-location-select--1::before {
    content: '1';
}

.ift-location-select--2::before {
    content: '2';
}

.p-relative {
    position: relative;
}

.itf-form-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 289px;
    background-color: #cccccc;;
}

@media(min-width: 968px) {
    .itf-form-background {
        height: 369px;
    }
}

.career-carousel-controls .control {
    position: absolute;
    top: 70px;
    font-size: 1.2em;
}

.career-carousel-controls .control.prev {
    left: -10px;
}

.career-carousel-controls .control.next {
    right: -20px;
}

.career-type {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}

.career-title {
    font-size: 18px;
}

.career-link {
    font-size: 14px;
}

/* modal transition */
.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* page ift-details header */
.page-header-ift-details {
    height: 250px;
    background-size: cover;
}

.page-ift-details-header-overlay {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    height: 100%;
}

.page-itf-details-breadcrumb {
    display: none;
}

.page-ift-details-title {
    font-family: 'Exo_2';
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.page-ift-details-subtitle {
    font-family: 'Lato';
    color: white !important;
    font-size: 16px !important;
}

/* page ift-details text */
.page-ift-details-text {
    padding-bottom: 24px;
}

.page-ift-details-text h4 {
    font-family: 'Exo_2' !important;
    color: #B90504 !important;
    font-size: 16px;
    line-height: 130% !important;
    margin: 32px 0 16px 0;
}

.page-ift-details-text h5 {
    font-size: 16px;
    font-weight: bold !important;
    color: #444444;
}

.page-ft-details-content {
    font-size: 12px;
    line-height: 150%;
}

/* page ift-details classes */
.page-ift-details-classes {
    background-color: #4D4D4D;
    text-align: center;
    padding: 40px 0;
}

.page-ift-details-classes h4 {
    color: white;
    font-family: 'Exo_2';
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
    line-height: 130%;
}

.page-ift-details-classes p {
    color: #E8E8E8 !important;
    font-size: 14px;
    text-align: center;
    line-height: 150%;
    padding: 0;
}

/* page ift-details testimonials */
.page-ift-details-testimonials h3 {
    font-family: 'Exo_2' !important;
    color: #B90504 !important;
    font-size: 16px !important;
    line-height: 120% !important;
    margin: 32px 0 24px 0;
    text-align: center;
}

.page-ift-details-testimonials .img-container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #B90504;
    margin: 0 auto 24px auto;
    background-size: cover;
}

.page-ift-details-testimonials .text {
    font-size: 12px;
    line-height: 150%;
    font-style: italic;
    margin-bottom: 16px;
    text-align: center;
}

.page-ift-details-testimonials .name {
    font-size: 12px;
    font-weight: 900;
    text-align: center;
}

.page-ift-details-testimonials .slick-dots {
    position: initial;
    margin-top: 16px;
}

/* page ift-details form  */
.page-ift-details-form h4 {
    font-family: 'Exo_2';
    color: #B90504;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
}

.page-ift-details-form p {
    font-size: 12px;
    padding-bottom: 12px;
    color: #444444;
    line-height: 150%;
    text-align: center;
}

.page-ift-details-form p.req {
    text-align: left;
}

.page-ift-details-form .form-text {
    margin-top: 0;
}

.page-ift-details-form .form-text input {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 12px;
    padding: 12px 16px;
}

.page-ift-details-form .form-text input:focus {
    border-color: #B90504;
}

.page-ift-details-form .form-item {
    margin-bottom: 8px;
}

.page-ift-details-form .form-select {
    position: relative;
}

.page-ift-details-form .form-select::after {
    content: '';
    position: absolute;
    right: 22px;
    top: 17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #444444 transparent transparent transparent;
}

.page-ift-details-form .form-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 12px;
    padding: 12px 16px;
    height: auto !important;
    margin-bottom: 0;
}

.page-ift-details-form .form-select select:focus {
    border-color: #B90504;
}

.page-ift-details-form .btn {
    font-size: 12px;
}

.page-ift-details-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .4);
    z-index: 2;
    top: 0;
    left: 0;
}

.page-ift-details-overlay .message {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 288px;
    padding: 56px 50px 30px 50px;
    background-repeat: no-repeat;
    background-position: center 17px;
    background-size: 29px auto;
    margin: 0 auto;
}

.page-ift-details-overlay .message .title {
    font-family: 'Exo_2';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;
}

/* page ift-details careers */
.page-ift-details-careers h3 {
    font-family: 'Exo_2' !important;
    color: #B90504 !important;
    font-size: 16px !important;
    line-height: 120% !important;
    margin: 32px 0 24px 0;
}

.page-ift-details-careers .list-of-careers {
    margin-bottom: 24px !important;
}

.list-of-careers .card-img {
    height: 136px;
    border-radius: 10px 10px 0 0;
    background-color: #CCCCCC;
    background-size: cover;
}

.card-bottom-anchor {
    position: absolute;
    bottom: 1.25rem;
}

.list-of-careers .slick-track {
    display: flex !important;
}

.list-of-careers .slick-slide {
    height: inherit !important;
}

.list-of-careers .slick-slide > div {
    display: flex;
    height: 100%;
}

.career-type {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}

.career-title {
    font-size: 16px;
}

.career-link {
    font-size: 12px;
}

.background-red {
    background-color: #B90504;
}

.background-red h3, .background-red p {
    color: #fff !important;
}

.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
}

.slick-dots {
    bottom: -30px;
    width: inherit;
}

.slide-prev-button, .slide-next-button {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 12px;
    margin: auto 0;
}

.slide-next-button {
    right: -3px;
    padding-left: 8px;
    padding-right: 0;
}

.card-img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-img-right img {
    position: absolute;
    right: 15px;
    top: -65px;
    width: 130px;
}

.card-img-right + h3 {
    width: calc(100% - 130px);
}

.card-doc .card-title {
    font-size: 14px;
}

.card-doc a {
    color: #B90504;
    font-size: 14px;
}

.card-doc .card-img > .img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1rem 3rem 1rem;
    color: #fff;
    font-family: 'Exo 2';
    font-size: 24px;
    line-height: 24px;
}

.card-doc .card-img > .img-trademark {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #fff;
    font-family: 'Exo 2';
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
}

.card-doc .card-img img {
    height: 360px;
}

.card-doc .card-img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.font-size-14 {
    font-size: 14px;
}

.row {
    width: auto;
}

@media(min-width: 992px) {
    /* page ift-details header */
    .page-header-ift-details {
        position: relative;
        height: 220px;
    }

    .page-ift-details-header-overlay {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .5);
        height: 100%;
    }

    .page-itf-details-breadcrumb {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .page-itf-details-breadcrumb .breadcrumb-item a {
        color: white;
    }

    .page-itf-details-breadcrumb .breadcrumb-item::before {
        color: white !important;
    }

    .page-ift-details-title {
        font-size: 32px;
    }

    .page-ift-details-subtitle {
        font-size: 26px !important;
        font-weight: 400 !important;
    }

    /* page ift-details text */
    .page-ift-details-text {
        padding-bottom: 88px;
    }

    .page-ift-details-text h4 {
        font-size: 32px;
        margin: 88px 0 32px 0;
    }

    .page-ift-details-text h5 {
        font-size: 18px;
    }

    .page-ft-details-content {
        font-size: 14px;
    }

    /* page ift-details classes */
    .page-ift-details-classes {
        padding: 90px 0;
    }

    .page-ift-details-classes h4 {
        font-size: 32px;
        text-align: left;
        margin-bottom: 32px;
        max-width: 388px;
    }

    .page-ift-details-classes p {
        font-size: 18px;
        text-align: left;
        padding: 0;
    }

    /* page ift-details testimonials */
    .page-ift-details-testimonials h3 {
        font-size: 32px !important;
        margin: 88px 0 32px 0;
        text-align: left;
    }

    .page-ift-details-testimonials li {
        clear: both;
    }

    .page-ift-details-testimonials .cont {
        float: left;
        width: calc(100% - 96px);
        padding-right: 32px;
    }

    .page-ift-details-testimonials .img-container {
        width: 76px;
        height: 76px;
        margin: 0;
        float: left;
        margin-right: 20px;
    }

    .page-ift-details-testimonials .text {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
    }

    .page-ift-details-testimonials .name {
        font-size: 16px;
        text-align: left;
    }

    /* page itf-details form */
    .page-ift-details-form {
        width: 100%;
    }

    .page-ift-details-form .container {
        position: relative;
    }

    .page-ift-details-form .form-text input {
        font-size: 14px;
        padding: 10px 16px;
    }

    .page-ift-details-form .form-select select {
        font-size: 14px;
        padding: 10px 16px;
    }

    .page-ift-details-form h4 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .page-ift-details-form p {
        font-size: 14px;
        padding-bottom: 24px;
    }

    .page-ift-details-form p.req {
        font-size: 12px;
    }

    .page-ift-details-form .form-item {
        margin-bottom: 16px;
    }

    .page-ift-details-form .btn {
        font-size: 14px;
    }

    /* page ift-details careers */
    .page-ift-details-careers h3 {
        font-size: 32px !important;
        margin: 88px 0 32px 0;
    }

    .career-type {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
    }

    .career-title {
        font-size: 18px;
    }

    .career-link {
        font-size: 14px;
    }
}