/* - BEGIN MAIN MENU */
@media screen and (min-width: 576px) {
	.has-mega-menu .container-sm {
		width: inherit;
	}
}

@media screen and (min-width: 768px) {
	.has-mega-menu .container-md {
		width: 720px;
	}
}

@media screen and (min-width: 992px) {
	.has-mega-menu .container-lg {
		width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	.has-mega-menu .container-xl {
		width: 1140px;
	}
}
.nav-link:focus, .nav-link:hover{
	font-weight: 600;
}
/**** END MAIN MANU ******/
.loading{
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	top: 0;
	transition: .9s;
	background-color: rgba(255,255,255,0.6);
}
.loading img{
	z-index: 99999;
	opacity: 1;
	top: 30%;
	position: absolute;
	right: 0;
	left:0;
	margin-left: auto;
	margin-right: auto;
}
.btn-white{
	padding: 15px 25px;
	border: 1px solid #990100;
	border-radius: 7px;
	color: #990100;
	transition: .3s;
	font-size:inherit;
	line-height: 1;
	background: white;
	max-width: 100%;
	text-transform: uppercase;
}
.btn-white:focus, .btn-white:active{
	color: #990100;
}
.btn-white:hover{
	background: #990100;
	color:white;
	transition: .3s;
}
.btn-red{
	background: linear-gradient(-180deg, #E52C28 22%, #B90504 100%);
	color:white;
	transition: .3s;
	font-size:1.2em;
	font-weight: 300;
	padding:10px 40px;
	border-radius: 0.3em;
}
.btn-red-cookie{
	/*background: linear-gradient(-180deg, #E52C28 22%, #B90504 100%);*/
	color:white;
	border:1px solid #eee;
	transition: .3s;
	font-size:1.2em;
	font-weight: 300;
	padding:10px 40px;
	border-radius: 0.5em;
}
.btn-red:hover{
	opacity: 0.6;
}
.btn-red:focus, .btn-red:active{
	color:white;
}
.navbar{
	padding: .2rem 0rem !important;
}

.menu-sub-menu {
	width: 208px;
}

@media (max-width: 1250px) {
	.menu-sub-menu {
		width: 200px;
	}
}

@media (max-width: 992px) {
	.menu-sub-menu {
		width: 172px;
	}
}

.dropdown-menu{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 0;
	margin: 0;
	/*min-width: 18rem;*/
}
.dropdown-menu .big{
	width: 835px;
}
.dropdown-menu .big.professional-service {
	width: 630px;
}
.dropdown-item{
	font-size:0.8em;
	line-height: 1.8;
	transition: .3s;
	padding: .25rem 0;
	cursor: pointer;
}
.collapse{
	float:left
}
.user-links li {
	float: left;
	border-right: 1px solid #dedede;
	padding: 0 15px 0 12px;
}
.fa{
	padding-right:8px;
	color:#B90504;
}
.language-selector li a{
	padding: 0 10px;
	border-right: 1px solid #dedede;
	cursor:pointer;
}
.language-selector li {
	display: inline;
}
.language-selector li a.active{
	font-weight: 700;
	color:#B90504;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0; font-weight: 700;}
ul, ol {margin: 0;}
p {margin: 0; color:#333;}
.section-subtitle{
	font-size: 1.1em;
	line-height: 1.6;
}
.inverted{
	background-color:#B90504;
	color:white;
	border-bottom-left-radius: 10px;
}
.inverted .dropdown-item{
	color:white;
	font-weight: 300;
}
.inverted .dropdown-item:focus,.inverted .dropdown-item:hover{
	color: white !important;
	text-decoration: none;
	background-color: #B90305;
}
.main-container label {font-weight: normal;}
.page .label,
.ajaxcart .label {
	color: inherit;
	font-size: 100%;
	border-radius: 0;
	display: inline-block;
	text-align: left;
	white-space:normal;
	line-height: normal;
}
.main-container .data-table .label {display: table-cell;}
.main-container .radio, .main-container .checkbox {display: inline-block; margin-top: 0;}
@media (min-width: 1250px) { 
	.container {
		max-width: 1250px;
		width: 1250px;
		padding: 0;
	}
}
@media only screen and (min-width: 768px) {
	span.toggle {display: none;}
	.footer-col-content,
	.block .block-content,
	.box-collateral-content {
		height: 100% !important;
		display: block !important;
		opacity: 1!important;
	}
}
.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 0%; 
}
.toplinks{
	padding: 6px 0;
}
.last{
	border: none !important;
}
.logo{
	padding: 15px 0px;
}
.logo-img{
	padding:10px 0;
}
.header_busca_menu{
	border: 2px solid #E5E5E5;
	width:95% !important;
	border-radius: 10px;
	height: 45px;
	font-size: 15px;
	font-style: italic;
	padding-left:20px;
}
.top-header{
	background:#F6F6F6;
}

.search-site{
	padding:15px 0;
}
#search-mobile{
	display: none;
	transition:.3s;
}
#search-mobile.active{
	display: flex;
	position: absolute;
	top:69px;
	margin:0;
	padding: 0;
	z-index: 10;
}

.header_busca_menu:focus{
	transition: .3s;
	border-color: #B90504;
}
#header_busca_mobile{
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	height: 45px;
	font-size: 15px;
	font-style: italic;
	padding-left:20px;
}
#header_busca_mobile:focus{
	transition: .3s;
	border-color: #B90504;
}
.dropdown > a{
	text-transform: uppercase;
	cursor: pointer;
}
li.dropdown{
	margin: 0 20px;
}
.dropdown a.dropdown-item:hover{
	padding-left: 5px;
	transition: .3s;
	font-weight: 600;
	padding-right: 10px;
}
.dropdown a:hover:before{
	content: content: "";
	/*display: inline-block;*/
	width: 15px;
	height: 15px;
	border-radius: 5px;
	margin-right: 5px;
}

.where-to-buy{
	padding:15px 0;
}
.location{
	padding: 15px 0
}
#solucoes-furukawa label{
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0;
	font-size: 1.2em;
	width: 100%;
	cursor:pointer;
}
img.marcas{
	padding: 30px 25%;
	border: 1px solid #efefef;
	box-shadow: 0 2px 20px 2px #f6f6f6;
	border-radius: 7px;
	margin-bottom:20px;
	max-height: 126px;
}
img.marcas:hover{
	box-shadow:0 2px 20px 2px rgba(0, 0, 0, 0.2);
}
#footer{
	margin-top:40px;
	padding: 40px 0;
}
.endthissite{
	height: 40px;
	background:#F6F6F6;
	bottom:0;
}
.endthissite .row{
	padding:10px 0;
}
.fur-red{
	color:#B90504;
	font-family: 'Exo_2'
}
#footer .footer-middle .social-media{
	display: flex;
	margin-top: 20px;
	list-style: none;
}
#footer .footer-middle .social-media li{
	margin-right: 15%;
	font-size: 1.4em;
}
#footer .footer-middle .footer-logo{
	text-align:center;
}
#footer .footer-middle .menu ul li{
	line-height: 25px;
}
#footer .footer-middle{
	text-align: left;
	border-top: 1px solid #B90504;
	padding-top: 40px;
}
#marcas {
	margin:40px 0 30px 0;
}
#marcas label{
	margin-top: 15px;
}
#fur-no-mundo{
	min-height: 350px;
	margin-bottom:120px;
}
#fur-no-mundo fieldset{
	margin: 10px 0;
}

#fur-no-mundo .center{
	text-align:center;
}
#fur-no-mundo .center p{
	color: white !important;
}
#fur-no-mundo .btn-red{
	width: 100%;
}
#fur-no-mundo .form-mundo .dropdown button{
	border: 1px solid #dedede;
    width: 90%;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.3em;
    color: #495057;
    text-align: left;
    text-indent: 5px;
    background-color: white;
}
#fur-no-mundo .form-mundo .dropdown button:focus{
	border: 1px solid #B90504;
}
#fur-no-mundo .form-mundo .dropdown button:after{
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #666 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 3%;
}

#fur-no-mundo .dropdown li {
	margin: 0;
	padding: 8px 0;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	text-align: left;
	text-indent: 7px;
}
#fur-no-mundo .dropdown li:hover {
	color: white;
	background: #b90503;
}
#fur-no-mundo .form-mundo .dropdown button:focus{
	border-color:#B90503;
	box-shadow: none;
	/*box-shadow: 0 0 0 0.2rem rgba(185,3,5,.25);*/
}
#fur-no-mundo .dropdown li:hover > .label::after{
	border:0.4rem solid white !important;
	background: #b90503 !important;
}

#fur-no-mundo .dropdown-menu.show{
	width: 85%;
}
#fur-no-mundo .dropdown li label{
	cursor: pointer;
	width: 95%
}
#fur-no-mundo .dropdown li label input{
	margin: 0 5px;
	float:right;
}

section#professional-services{
	/*padding: 40px 0 0 0;*/
	background-repeat: no-repeat;
	background-position: left;
	background-size:55%;
}

#professional-services .content{
	padding: 205px 20%;
	text-align:left;
}
#contact-us{
	margin: 0;
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}
#contact-us .banner{
	background-repeat: no-repeat;

}
#contact-us .content{
	padding: 50px 15%;
}
#contact-us .section-subtitle{
	line-height: 2;
	padding: 0 15%;
}
#news img{
	border-radius: 10px;
}
#news .post p.section-subtile {
	text-align: justify;
	padding: 0 10px 10px 0;
	font-size: 14px;
}
#news .title{
	margin-bottom:20px;
}
#news .post label a{
	color:#B90504;
}
#news .post label{
	-webkit-transition: right 0.2s linear;
	-moz-transition: right 0.2s linear;
	-ms-transition: right 0.2s linear;
	transition: right 0.2s linear;
	font-size:1.2em;
	float:left;
	font-weight: 700;
	padding: 0 10px 0 0;
	color:#B90504 !important;
	transition: .2s;
}
#news label i{
	margin-left:5px;
	margin-top:2px;
	animation:none;
	-webkit-animation:none;
	-moz-animation:none;
	-ms-animation:none;
}
#news label:hover i{
	margin-left:10px;
	animation: slide1 1s ease-in-out infinite;
	-webkit-animation:slide1 1s ease-in-out infinite;
	-moz-animation:slide1 1s ease-in-out infinite;
	-ms-animation:slide1 1s ease-in-out infinite;
}
@keyframes slide1 {
	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(10px, 0);
	}
}
#news .post-title{
	margin: -30px 10px 10px -14px;
	width: 75%;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	padding: 5px 15px;
	background-color: white;
	min-height: 77px;
}
#news .post-title h3{
	line-height: 1.4;
	color:#333;
	font-family: 'Exo_2';
}

#to-top {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #B90504;
	color: white;
	cursor: pointer;
	padding: 15px;
	opacity: 0.6;
	transition: .3s;
}

#to-top:hover {
	background-color: #B90504;
	opacity: 1;
}
span.hamburger-box {
	font-size: 2.0em;
	color:#666;
}
span.world-box {
	font-size: 2.0em;
	color:#B90504;
	padding-left:15px;
}
#icon-search{
	padding: 25px 0 0 0;
	color:#666;
}
#my-icon{
	padding:20px 0;
}
.owl-buttons{
	font-size: 28px;
	position: absolute;
	bottom: 160px;
	/* z-index: 9999999; */
	width: 100%;
	cursor: pointer;
	padding: 0 5px;
	/* visibility: hidden; */
}
.owl-buttons .owl-prev {
	float:left;
	margin-left: -25px !important;
	background: none !important;
}
.owl-buttons .owl-next{
	float:right;
	margin-right: -25px !important;
	background: none !important;
}
.owl-buttons .fa{
	color:#666;
	font-size:30px;
}
.owl-theme .owl-controls .owl-page span{
	background: #cccccc;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #B90504;
}
.owl-theme .owl-controls.clickable .owl-buttons div .fa:hover{
	transition: .3s;
	color:#B90504;
}
#main-menu{
	border-top: 1px solid #f6f6f6 !important;
	border-bottom: 1px solid #dedede;
	/*box-shadow: 0px 1px 2px 1px #dedede;*/
	position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-color:#fff;
}
#modal-localiza{
	color:white;
}
#modal-localiza .modal-dialog{
	max-width: 600px;
}
#modal-localiza .modal-content{
	background:linear-gradient(-180deg, #E52C28 22%, #B90504 100%);
	border-radius: 1.5rem;
	box-shadow: 0 2px 20px 2px #333;
}
#modal-localiza .modal-content{
	padding: 3% 15% 10% 15%;
}
#modal-localiza .modal-title{
	font-size: 2.3em;
}
#modal-localiza .section-subtitle{
	color:white;
}
#modal-localiza .bg-white{
	padding: 30px;
	border-radius: 10px;
}
#modal-localiza .modal-title{
	text-align:center;
}
#modal-localiza .modal-header{
	padding: 0; 
	border-bottom: none;
	display: block;
}
#modal-localiza .input-group-text{
	background-color:#cccccc;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color:#000;
}
#modal-localiza .input-group.active span{
	background-color: #B90504;
	color:white;
	transition: .3s;
}
#modal-localiza .input-group .active{
	border-color:#B90504;
}
#modal-localiza .dropdown button{
	border: 1px solid #dedede;
    width: 89%;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.3em;
    color: #495057;
    text-align: left;
    text-indent: 5px;
    background-color: white;
}
#modal-localiza .dropdown li {
	margin: 0;
	padding: 8px 0;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	text-align: left;
	text-indent: 7px;
}
#modal-localiza .dropdown li:hover {
	color: white;
	background: #b90503;
}
#modal-localiza .form-mundo .dropdown button:focus{
	border-color:#B90503;
	box-shadow: 0 0 0 0.2rem rgba(185,3,5,.25);
}

#modal-localiza .dropdown-menu.show{
	width: 85%;
}
#modal-localiza .dropdown li label{
	cursor: pointer;
	width: 95%
}
#modal-localiza .dropdown li label input{
	margin: 0 5px;
	float:right;
}
.close:not(:disabled):not(.disabled) {
	cursor: pointer;
	float: right;
	position: absolute;
	right: 15px;
	top: -15px;
	border-radius: 3px;
	padding: 0 5px;
	background: #222;
	color:white;
	opacity: .75;
	font-weight: 300;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
	color:white;
	opacity: 1;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
	-webkit-border-bottom-left-radius:0 !important;
	-moz-border-radius-bottomleft: 0px !important;
	-ms-border-bottom-left-radius: 0 !important;

	-webkit-border-top-left-radius:0px !important;
	-moz-border-radius-topleft: 0px !important;
	-ms-border-top-left-radius: 0 !important;
}
#fur-no-mundo .form-mundo {
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.2);

}
#fur-no-mundo .input-group-text{
	background-color:#cccccc;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	color:#000;
}
#fur-no-mundo .input-group.active span{
	background-color: #B90504;
	color:white;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	/*box-shadow: 0 0 10px 0.2rem rgba(185,3,5,.25);*/

}
#fur-no-mundo .input-group .active{
	/*border:1px solid #ccc;*/
	border-color:#B90504;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px;

	/*box-shadow: 0 0 10px 0.2rem rgba(185,3,5,.25);*/
}
.select-country{
	text-align: left;
	cursor:pointer;
}
.country-selector{
	text-align: center;
	display: flex;
	margin: 5px 18px;
}
header .select-country i{
	color:#B90504;
}
#modal-pais .modal-dialog{
	max-width: none;
	width: 680px;
	max-width: 
}
#modal-pais .list-selector{
	text-transform: capitalize;
}
#modal-pais ul.countries {
	display: flex;
}
#modal-pais ul.countries a {
	padding: 5% 40px;
	background: #f6f6f6;
	margin-left: 5px;
	cursor: pointer;
}
#modal-pais ul a:hover{
	color:white !important;
}
#modal-pais ul.countries li:hover a{
	background-color: #B90504;
	color:white;
}
#modal-pais ul.countries a.active{
	background-color: #B90504;
	color:white;
}
#modal-pais .list-selector {
	text-transform: capitalize;
	display: flex;
	padding-bottom: 5px;
	border-bottom: 1px solid #f6f6f6;
}
#modal-pais .list-selector li {
	margin-left: .9%;
}
#modal-pais .list-selector a.disabled{
	cursor: not-allowed;
	background-color: #f1f1f1;
}
#modal-pais .list-selector a.disabled:hover{
	background-color: #f1f1f1;
	color:#666 !important;
}
#modal-pais .list-selector a {
	padding: 2px 5px;
	cursor: pointer;
}
#modal-pais .list-selector a:hover {
	background: #b90504;
	color: white !important;
	border-radius: 4px;
}
#modal-pais .list-selector a.active {
	background: #b90504;
	color: white;
	border-radius: 4px;
}
#modal-pais ul.list-country {
	/*display: table;*/
	height: 260px;
	overflow-y: scroll;
	text-align: left;

}
#modal-pais ul.list-country::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#modal-pais ul.list-country::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#modal-pais ul.list-country::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#main-menu .dropdown-menu .row div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#main-menu .dropdown-menu .row div::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#main-menu .dropdown-menu .row div::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#fur-no-mundo .select-options::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#fur-no-mundo .select-options::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#fur-no-mundo .select-options::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#modal-ouvidoria .select-options::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#modal-ouvidoria .select-options::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#modal-ouvidoria .select-options::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#modal-pais .list-country li {
	display: inline-table;
	width: 24%;
	float: left;
	padding: 10px 20px;
	min-height: 56px;
	cursor: pointer;
}
#modal-pais .modal-footer{
	display: block;
}
#modal-pais .list-country li.out{
	font-weight: 700;
}
#modal-pais .list-country li.out:before, li.out:before{
	content: "• ";
}
#modal-pais .list-country li.current:before,li.current:before{
	content:"";
}
#modal-pais .list-country li.current,li.current{
	color: #b90504;
	font-weight: 700;
}
#modal-pais .list-country li.current i,li.current i{
	color: #b90504;
}
li.current:before{
	font-family: 'Font Awesome 5 Free';
    content: "\f3c5";
    display: inline-block;
    padding-right: 3px;
    font-weight: 900;
    top: 10px;
    position: absolute;
}
#modal-pais .list-country li.current:before,li.current:before{
	font-family: 'Font Awesome 5 Free';
	content: "\f3c5";
	display: inline-block;
	padding-right: 3px;
	font-weight: 900;
	position: inherit;
/* >> Name of the FA free font (mandatory)
- 'Font Awesome 5 Free' for Regular and Solid symbols;
- 'Font Awesome 5 Brand' for Brands symbols. */
/* >> Weight of the font (mandatory)*/
}
#modal-pais .list-country li:hover{
	color: #b90504;
	font-weight: 700;
}
.c-soon{
	margin-left: 10px;
	font-size: 10px;
	background-color: #B90305;
	border-radius: 3px;
	color: white;
	padding: 5px;
	letter-spacing: .5px;
}
.nav-item .blog{
	left: -130px;
	width: 280px;
}
.sticky {
	position: sticky;
	width: 100%;
	background: #fff;
	top: 0;
	margin-top: 0;
	z-index: 1000;
	border-bottom: 1px solid #dedede;
	/* box-shadow: 0 0 1px 0px #dadada;*/
	transition: top 0.3s;
	margin-bottom: 30px;
}
.no-hover{
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 0.8em;
	line-height: 1.8;
	transition: .3s;
	padding: .25rem 0;
}
#newsletter{
	min-height: 80px;
	background-color: #efefef;
}
#newsletter .fill{
	background: #B90305;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	height: 150px;
	left: 0;
	margin-top: -20px;
}
#newsletter .row{
	display: inline-block;
}
#newsletter .btn-red{
	padding: 7px 40px;
	max-width: none;
}
#newsletter .form-check{
	font-size:1rem;
	color:#444;
}
.endthissite .atile{
	width: auto;
	height: 25px;
	margin-left: 5px;
	transition: .5s;
	margin-top: -4px;
}
.endthissite .atile:hover{
	height: 30px;
	margin-top: -8px;
	animation: poppop 1s ease-in-out infinite;
}
@keyframes poppop {
	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, -5px);
	}
}
.endthissite .bluef{
	width: auto;
	height: 12px;
	margin-left: 5px;
	transition: .5s;
	margin-top: 3px;
}
.cbx {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	margin-left:1em;
}
.cbx span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	transform: scale(1);
	vertical-align: middle;
	border: 2px solid #ccc;
	transition: all 0.2s ease;
}
.cbx span:first-child svg {
	position: absolute;
	top: 3px;
	left: 1px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #B90305;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
}
.cbx span:last-child {
	padding-left: 8px;
	font-size:0.9em;
}
.cbx:hover span:first-child {
	border-color: #B90305;
}

.inp-cbx:checked + .cbx span:first-child {
	background: #B90305;
	border-color: #B90305;
	animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
	transform: scale(1.8);
	opacity: 0;
	transition: all 0.5s ease;
}

@keyframes wave {
	50% {
		transform: scale(1);
	}
}
#quickmenu{
	position: fixed;
	top: 55%;
	right: 2%;
	border-radius: 5px;
	border: 1px solid #ccc;
	z-index: 1000;
	box-shadow: 0 0 3px 0px #bcbcbc;
}
#quickmenu li{
	padding:5px;
	border-bottom: 1px solid #efefef;
}
#quickmenu li a{
	cursor:pointer;
}
#quickmenu svg{
	fill:#B90504;
	max-width: 32px;
	max-height: 25px;
}
#modal-ouvidoria .modal-title{
	text-align:center;
}
#modal-ouvidoria .modal-header{
	display: block;
}
#modal-ouvidoria .modal-dialog{
	width: 370px;
}
#modal-ouvidoria .form-control{
	border-radius: 10px;
}
.popover-body{
	padding: 0 1rem 10px 1rem;
	font-size: 0.9em
}
.popover-header{
	background-color: transparent;
	border-bottom: 0;
}
.popover-body .social-media{
	display: flex;
	font-size: 1.1em;
}
.popover-body .social-media li{
	padding: 8px;
	font-size: 1.2em;
}
.popover-header{
	font-family: 'Lato',sans-serif;
	text-align: center;
}
.bs-popover-left{
	left:-20px !important;
	box-shadow: 0 1px 5px 1px #ddd;
	border: 1px solid #dedede;
}
.popover-body .phone{

}
.popover-body .description{
	color:#666;
	font-size: 0.7rem;
}
.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	border:1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #666;
	width: 85%;
	height: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.select:focus{
	border-color:#B90503;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 8px 15px;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	text-align: left;
}
.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #666 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 10px;
}
.select-styled:hover {
	color:#666;
}
.select-styled:active, .select-styled.active {
	/*border:1px solid #ccc;*/
	border-color:#B90504;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px;
	/*box-shadow: 0 0 0 0.2rem rgba(185,3,5,.1);*/
	color:#666
}
.select-styled:active:after, .select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #666 transparent;
}

.select-options {
	display: none;
	border:1px solid #ccc;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	max-height: 11rem;
	overflow-y:scroll;
}
#modal-ouvidoria .select {
	border-radius: 10px;
}
.select-options li {
	margin: 0;
	padding: 8px 0;
	/*text-indent: 15px;*/
	border-top: 1px solid #ccc;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
.select-options li:hover {
	color: white;
	background: #b90503;
}
.select-options li[rel="hide"] {
	display: none;
}
.main-header .header-form{
	display: flex;
}
#fur-no-mundo .active .input-group-text{
	background-color: #B90503;
	color:white;
}


#fur-no-mundo .form-mundo .list {
	flex: 0 0 20rem;
}

#fur-no-mundo .form-mundo .list__item {
	position: relative;
	padding: 5px 20px;
}
#fur-no-mundo .form-mundo .list__item:hover > .label {
	color: #fff;
}
#fur-no-mundo .form-mundo .list__item:hover > .label::after {
	border: 0.3rem solid white;
}

#fur-no-mundo .form-mundo .radio-btn {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
#fur-no-mundo .form-mundo .radio-btn:checked + .label {
	color: #B90503;
}
#fur-no-mundo .form-mundo li:hover > .radio-btn:checked + .label{
	color: white;
}

#fur-no-mundo .form-mundo .radio-btn:checked + .label::after {
	border: 0.4rem solid #B90503;
	background: #fff;
}

#fur-no-mundo .form-mundo .label {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	color: #666;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.25s linear;
}

#fur-no-mundo .form-mundo .label::after {
	display: inline-block;
	position: absolute;
	right:10px;
	content: "";
	height: 1.125rem;
	width: 1.125rem;
	margin-right: 0.625rem;
	border: 0.2rem solid #ccc;
	border-radius: 50%;
	transition: all 0.25s linear;
}

#modal-localiza .active .input-group-text{
	background-color: #B90503;
	color:white;
}


#modal-localiza .dropdown .list {
	flex: 0 0 20rem;
}

#modal-localiza .dropdown .list__item {
	position: relative;
	padding: 5px 20px;
}
#modal-localiza .dropdown .list__item:hover > .label {
	color: #fff;
}
#modal-localiza .dropdown .list__item:hover > .label::before {
	border: 0.3rem solid white;
}

#modal-localiza .dropdown .radio-btn {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
#modal-localiza .dropdown .radio-btn:checked + .label {
	color: #B90503;
}
#modal-localiza .dropdown li:hover > .radio-btn:checked + .label{
	color: white;
}

#modal-localiza .dropdown .radio-btn:checked + .label::after {
	border: 0.4rem solid #B90503;
	background: #fff;
}
#modal-localiza .dropdown button:focus{
	border-color:#B90503;
	box-shadow: none;
	/*box-shadow: 0 0 0 0.2rem rgba(185,3,5,.25);*/
}
#modal-localiza .dropdown li:hover > .label::after {
	border: 0.4rem solid white !important;
	background: #b90503 !important;
}

#modal-localiza .dropdown .label {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	color: #666;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.25s linear;
}

#modal-localiza .dropdown .label::after {
	display: inline-block;
    position: absolute;
    right: 10px;
    content: "";
    height: 1.125rem;
    width: 1.125rem;
    margin-right: 0.625rem;
    border: 0.2rem solid #ccc;
    border-radius: 50%;
    transition: all 0.25s linear;
}
#modal-localiza .dropdown button:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #666 transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 3%;
}
/*MENU MOBILE*/
.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after{
	border-color: #B90504;
}
.mm-panel.mm-hasnavbar .mm-navbar{
	background: #f9f9f9;
}
.mm-menu .mm-listview > li .mm-prev:before, .mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after{
	border-color:#000;
}
#mobile-menu .hover{
	background-color: #B90504;
	color:white;
	font-weight: 300;
}
#mobile-menu .fixo{
	background: #f5f5f5;
}
.header-mobile .fas{
	font-size: 1.4rem;
}
#icon-location{
	padding: 20px 0 0 0;
}
#mobile-menu #paises .mm-navbar .mm-btn:first-child{
	display: none;
}
.cursor{
	cursor:pointer;
}
#owl-mobile .item img{
    display: block;
    width: 100%;
    height: auto;
}
#download-file ul li div {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px 0;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.24);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.24);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.dropdown a.dropdown-item:hover:before {
    content: " ";
    background:#b90504;
    content: "";
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	margin-right: 5px;
  	border-radius:3px;
}
.cookies-adv {
   	position: inherit;
   	/*height: 60px;*/
    top: 0;
    background: #B90504;
    z-index: 9999999999;
    width: 100%;
    right: 0;
    left: 0;
    padding: 10px 0;
    border-bottom: 2px solid #a90504;
    
}
.cookies-adv p{
	color:white;
	font-size:0.9em;
	line-height: inherit;
	font-weight: 300;
}
.cookies-adv .dismiss{
    padding: 10px 0;/*
    background: white;
    border-radius: 40px;
    position: absolute;
    right: 10rem;
    top: 15px;
    cursor:pointer;
    width: 34px;
*/}
#modal-privacypol .modal-body{
	max-height: 500px;
    overflow-y: scroll;
}
#modal-privacypol .modal-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#modal-privacypol .modal-body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#modal-privacypol .modal-body::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
p.square-red {
    position: absolute;
    right: -100px;
    width: 70px;
    background: #b90504;
    border-radius: 5px;
    height: 70px;
    bottom: 30%;
}
p.square-gray {
    position: absolute;
    right: -25%;
    width: 40px;
    background: #DADADA;
    border-radius: 5px;
    height: 40px;
    top: 10%;
}
#fixedlocation{
	position: absolute;
	top:7%;
	right: 15%;
	border: 1px solid #dadada;
	border-radius:5px;
	box-shadow:0 0 2px 1px #ccc;
	margin-top: -8px;
    animation: poppop 1s ease-in-out infinite;
}
#fixedlocation p{
	padding: 5px 20px;
}
#fixedlocation b{
	color:#B90504;
}
#solucoes-furukawa .section-subtitle{
	padding:0 25%;
}
#professional-services a:hover{
	color:#fff !important;
}
#carousel-mobile .owl-item img {
    width: 100%;
}
.header svg {
    width: 16px;
    margin-right: 5px;
    fill: #b90504;
}
.popover .closed:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 5px;
    top: 0px;
    border-radius: 3px;
    /* padding: 0 5px; */
    /* background: #222; */
    /* color: white; */
    opacity: .75;
    font-weight: 300;
}
