/* Tablet deve iniciar ao 760px para leitura de itens do menu */

@media (max-width: 1350px)
{
    div.bg-catalogo-produtos h2
    {
        font-size: 22px!important 
    }
    div.bg-catalogo-produtos p {
        font-size:16px;
    }
    #select-language span
    {
        overflow: hidden;
    }
}

@media (max-width: 1300px)
{
   
    
    .content .news-item div
    {
        background-size: 100% 100%;
    }
    
    .content #select-language
    {
        max-width: 55px;
        max-height: 15px;
    }
    
     .mobile-p-left
    {
        left: 0!important;    
    }
                
    .mobile-p-right
    {
        right: 0!important;    
    }   
   
    
    .bg-catalogo-produtos
    {
        /* background: none!important; */
        padding-bottom: 0px!important;
    }

    
    div.sobre-politica
    {
        height: 100px;
        min-height: 0px;
        background: none;    
    }

    div.sobre-politica button
    {
        margin-top: 10px;
    }
    
    #codigo-etica p
    {
        max-width: 100%;
    }

    #timeline
    {
        padding-bottom: 0px!important;
    }
    
    #submenu-main-item-map ul
    {
        max-width: 18%!important;
    }
    
    #timeline-content-hide
    {
        padding: 0% 5%;
    }
    
    .img-max-width
    {
        max-width: 100%;
    }
    
    
    div.block-symbols
    {
        padding-top: 10px;
        min-height: 200px;
    }
    
    .padding-text-a, .padding-text-b, .padding-text-c
    {
        padding-top: 20px;
    }
    
    .text-padding-main
    {
        padding: 0 0px 30px 50px;
    }
    
    #compra-links ul li .compra-links-item
    {
        min-height: 150px;
    }
    
    .compra-links-item p
    {
        width: 100%;
        text-align: center;    
    }
    
    #compra-links ul li .compra-links-item img
    {
        float: none!important;
        margin: 0 auto;
    }
    
    .block-itens-info ul li h3
    {
        font-size: 20px;
        line-height: 24px;
    }
    
    .block-itens-info ul li p
    {
        font-size: 14px!important;
        line-height: 20px!important;
    }
    
    .block-itens-info ul li h3
    {
        font-size: 20px;
        line-height: 24px;
    }
    
    .block-itens-info ul li p 
    {
        font-size: 14px!important;
        line-height: 20px!important;
    }
    
    div.block-itens-info ul li section
    {
        padding: 10px;
    }
    
        
    .solution-masonry h3
    {
        padding: 10px 20px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        border-radius: 13px;
    }

}

@media (max-width: 1180px) 
{
    #home-banner
    {
        margin-top: -50px!important;
    }
    
    .block-itens-info ul
    {
        padding: 10px 0px!important;
    }
    
     .square-giant
    {
        width: 66px;
        height: 66px;
    }
    
   
       
   
  
    #header-language li
    {
        font-size: 8px;
        margin: 2px 2px 2px 2px;
    }
    
  
    .img-margin
    {
        max-width: 150px;
        margin: 10px 0 10px 0px;
    }
    
    #home-banner #banner-logo
    {
        width: 170px;
        height: 80px;
        left: 4%;
        top: 0%;
    }
  

    .dot
    {
        width: 45px;
        height: 45px;
        border-radius: 40px;
    }

    .dot-big
    {
        width: 120px;
        height: 120px;
        background: #B90504;
        border-radius: 110px;
    }

    .square-big
    {
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }

    .square-small
    {
        width: 45px;
        height: 45px;
        border-radius: 6px;
    }


    .square-giant
    {
        width: 170px;
        height: 170px;
        border-radius: 17px;
    }

    .square-mini
    {
        width: 55px;
        height: 55px;
        border-radius: 15px;
    }

    .square-tiny
    {
        width: 35px;
        height: 35px;
        border-radius: 3px;
    }

    .square-double
    {
        width: 155px;
        height: 155px;
        background: none;
        background-repeat: no-repeat;
        background-image: url(../images/home/square2.png);
    }
    
    /* General */
    
    #banner-logo
    {
        width: 155px;
        height: 50px;
        left: 3%;
        top: 2%;
    }
    
    .img-margin
    {
        width: 110px;
        height: 35px;
        left: 3%;
        top: 2%;
    }

    
    #header-mobile
    {
        display: none;
    }
    
    #home-news
    {
        background-size: 100% auto!important;
    }
    
    #timeline #timeline-content
    {
        width: 100%;
    }

    #timeline #timeline-content-main
    {
        width: 100%;
    }
    
    .banner-top
    {
        margin-top: -100px;    
    }
    
    .padding-text-a
    {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
        margin-bottom: 20px!important;;
    }
    
    .padding-text-b
    {
        padding-top: 40px!important;
        padding-bottom: 30px!important;
        margin-bottom: 20px!important;;
    }
    
    .padding-text-c
    {
        padding-top: 60px!important;
        padding-bottom: 50px!important;
        margin-bottom: 20px!important;;
    }
    
    .tecnologia-video iframe
    {
        height: 250px!important;   
    }
    
    .products-category li
    {
        /* width: 28%; */
    }
    
    .select-shadow-block-wrapper form div
    {
        padding: 7px 5px;
    }
    
    .white-box li
    {
        padding: 20px 10px;
    }
    
    .white-box li a
    {
        font-size: 16px;
        line-height: 18px;
    }
    
    ul.products-category-main li
    {
        height: 75px;
        margin: 20px 0px;
    }
    
    ul.products-category-main li div h3
    {
        font-size: 18px;
    }
    
    .faq-search
    {
        width: 500px;
        /*position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -250px;*/
        text-align: center;
        margin: 80px auto;
    }
    
    ul.respostas-resultados
    {
        width: 100%;
        max-width: 100%;
    }
    
    div.faq-search
    {
        width: 500px;
        top: 90px;
    }

           
    div#sobre-nos-valores li div h4
    {
        right: 16%;
        font-size: 14px;
    }
    
    .onde-encontrar-result-box-info p span
    {
        float: right;
    }
    
    .newsletter form
    {
        top: 0%!important;
    }

    
    div#products-relative-content ul li .img-box-content
    {
        height: 150px;
    }

}
@media (max-width:1024px) {
    div#products-relative-content ul li p {
        font-size:12px;
        height: 37px;
        line-height: 17px;
    }
    .conexao-details .mask-banner h4 {
        font-size: 18px;
    }

    .conexao-details .mask-banner h2 {
        font-size: 25px;
        line-height:30px;
    }
}

@media (max-width:992px) {
    .dot-main-top{
        width:34px;
        height:34px;
        margin-top:42px;
    }
    p {
        font-size:14px;
        line-height: 22px;
        padding-bottom:30px;
    }
    #home-news h2 {
        font-size:16px;
        line-height:22px;
        padding-bottom:10px!important;
    }
    .bg-catalogo-produtos .button-links 
    {
        margin-right:20px
    }
}


@media (max-width: 990px) 
{

    div.block-symbols
    {
        padding-top: 10px;
        min-height: auto;
    }
    
    #select-language span
    {
        display: block;
        height: 15px;
        max-width: 85px!important; 
    }

    .tablet-block
    {
        display: block!important;
    }
    
    .tablet-none
    {
         display: none!important;   
    }
    
    #submenu-main-item
    {
        display: none;
    }
    
    .small-image
    {
        height: 150px!important; 
    }
   
    
    .newsletter select
    {
        width: 15%!important;
        font-size: 14px!important;
    }
    
    .tablet-block
    {
        display: block!important;
    }
    
    /*#site-modal-footer img
    {
        display: none;
    }*/
    .content .header-social {
        margin:0 5px;
    }
    
    #site-modal-footer img
    {
        display: none!important;
    }
                
    #site-modal-footer
    {
        height: 60p;
        background-image: url("../../site_front/images/modal_footer_m.png");
        background-size: 100% auto;
        background-position: bottom center;
        bottom: -4px;
    }
                
    #site-modal-footer p
    {
        width: auto!important;
        padding-left: 35%!important;
        height: auto!important; 
        font-size: 8px!important;
        line-height: 12px!important;
        top: 65%!important;
    }
     
    
    div#onde-encontrar-result ul:first-child li .onde-encontrar-result-box
    {
        height: auto!important;
    }
    
    #onde-encontrar-result ul:first-child li h3
    {
        font-size: 24px;
        padding-bottom: 20px;
        vertical-align: middle;
        display: table-cell;
        width: 100%;
        text-align: center;
    }
    
    .onde-encontrar-result-box .onde-encontrar-result-box-img
    {
        margin-top: 0px!important;
    }
    
    .onde-encontrar-result-box-info p span
    {
        float: right!important;
        line-height: 20px;
    }
    
    input.find-button-submit
    {
        display: block; 
        float: none; 
        margin: 0 auto; 
    }

    form .certificados-form-padding label    
    {
        color: #4D4D4D;
        padding: 20px 30px!important;
        background-size: 20px 20px!important;
    }
    
}



@media (max-width: 860px) 
{
        
    #header-language li
    {
        margin: 2px 2px 2px 2px;
    }
    
    /* Dots & Squares */

    .dot
    {
        width: 45px;
        height: 45px;
        border-radius: 40px;
    }

    .dot-big
    {
        width: 120px;
        height: 120px;
        background: #B90504;
        border-radius: 110px;
    }

    .square-big
    {
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }

    .square-small
    {
        width: 45px;
        height: 45px;
        border-radius: 6px;
    }


    .square-giant
    {
        width: 170px;
        height: 170px;
        border-radius: 17px;
    }

    .square-mini
    {
        width: 55px;
        height: 55px;
        border-radius: 15px;
    }

    .square-tiny
    {
        width: 35px;
        height: 35px;
        border-radius: 3px;
    }

    .square-double
    {
        width: 155px;
        height: 155px;
        background: none;
        background-repeat: no-repeat;
        background-image: url(../images/home/square2.png);
    }
    
    .text-margin
    {
        padding-top: 10%;
        max-width: 550px;
        line-height: 22px;
    }
    
    #home-news
    {
        background-size: 100% auto;
    }
    
    #submenu-main-item-header
    {
        margin-bottom: -20px;
    }
}
