.clear
{
    clear: both;
}

.content
{
    width: 100%;
    position: relative;
}

.center
{
    margin: 0 auto;
    float: none;
    text-align: center;
}

.right
{
    float: right;
}

.absolute
{
    position: absolute;
    z-index: 9;
}

.inline-block
{
    float: none;
    display: inline-block;
}

.align-right
{
    text-align: right;
}


.align-left
{
    text-align: left;
}

.align-center
{
    text-align: center;
}


/* Colors */

.bg-white
{
    background: #FFF;
}

.bg-red
{
    background: #B90504;
}

.bg-dark-red
{
    background-color: #990100;
}

.bg-light-gray
{
    background-color: #D8D8D8;
}

.bg-gray
{
    background-color: #888889;
}

.bg-dark-gray
{
    background-color: #4D4D4D;
}
 .white
{
    color: white;
}

.dark-red
{
    color: #990100;
}




