@media (max-width: 768px) {
    /* General */ div#certificados-qualidade h2 {
        font-size: 22px!important;
        font-weight: 600!important;
        line-height: 30px;
    }
    .page-title h1,
    .page-title h2 {
        font-size:22px !important;
    }
    .page-title h3 {
        font-size: 16px !important;
    }
    .content {
        overflow: hidden;
        padding-top: 25px;
    }

    .newsletter.content {
        padding-top: 0;
    }

    .dot-main-top {
        width: 30px;
        height: 30px;
        margin-top: 0;
    }

    .mobile-none.visible-768, .desktop-none.visible-768 {
        display: block!important;
    }

    .mobile-block.hidden-768, .mobile-none.hidden-768 {
        display: none!important;
    }

    #site-share-box-mobile ul {
        background-image: -webkit-linear-gradient(-180deg, #E52C28 22%, #B91318 100%);
        background-image: -o-linear-gradient(-180deg, #E52C28 22%, #B91318 100%);
        background-image: linear-gradient(-180deg, #E52C28 22%, #B91318 100%);
        display: inline-block;
        margin-bottom: -5px;
        padding: 2px 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .fbs#site-share-box-mobile ul {
        background-image: -webkit-linear-gradient(#5798CB 7%, #0574CE 100%)!important;
        background-image: -o-linear-gradient(#5798CB 7%, #0574CE 100%)!important;
        background-image: linear-gradient(#5798CB 7%, #0574CE 100%)!important;
    }

    .box-space {
        height: 50px;
    }

    div#submenu-main-item {
        display: none;
    }

    div#header-hover-submenu.big {
        height: 540px;
        width: 90%;
        top: 10px;
        padding-bottom: 50px;
    }

    #header-hover-submenu h3 a {
        font-size: 10px;
        font-weight: bold;
    }

    #mega-menu.nav-act {
        background-color: white;
        position: fixed;
        top: 60px;
        z-index: 999999;
        right: 20px;
        height: 40px;
        padding: 5px 0px;
    }

    header#header-mobile {
        height: 55px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 99999;
    }

    #header-mobile ul {
        height: 100%;
    }

    #header-mobile ul li {
        height: 100%;
        width: 50%;
        float: left;
        padding: 5px 10px;
    }

    #header-mobile ul li button {
        width: 70%;
        float: left;
        background: #B90504;
        box-shadow: 1px 1px 1px 0 rgba(166,166,166,0.50);
        border-radius: 4.8px;
        font-size: 11.19px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 16px;
    }

    #header-mobile ul li img {
        height: 100%;
        width: auto;
    }

    #header-mobile ul li:first-child button {
        float: right;
    }

    #header-bottom ul li img {
        margin-top: 20px;
    }

    div#header-bottom .banner-dot {
        display: none!important;
    }   

    div.banner-video {
        height: 450px!important;
    }

    .text-padding-main {
        padding: 0px 0px;
    }

    .banner-top {
        margin-top: -30px;
    }

    .padding-banner {
        padding: 15px 0px!important;
    }

    .text-content p {
        margin-top: 10px;
        /* padding: 10px 0; */
    }

    .first-item {
        padding-top: 15px;
    }

    .site-function-box {
        display: none!important;
    }

    /* End Of General */
    /* Square Dots */
    .dot {
        width: 26px;
        height: 26px;
    }

    .square-small {
        width: 28px;
        height: 28px;
    }

    #header-pin {
        float: right;
    }

    .square-big {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }

    .square-giant {
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }

    .dot-big {
        width: 80px;
        height: 80px;
    }

    #home-banner {
        margin-top: -90px!important;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 60%!important;
    }

    #home-banner img {
        padding-top: 60px;
    }

    #home-banner #banner-dot {
        right: 20%;
        top: 26%;
    }

    #home-banner #banner-logo {
        width: 170px;
        height: 80px;
        left: 50%;
        top: 0%;
        margin-left: -85px;
    }

    .button-links {
        padding: 8px 10px!important;
        font-size: 14px;
        margin-top: 20px;
        min-width: 135px;
        border-radius: 6px;
        margin: 0px 5px;
    }

    .button-links a {
        font-size: 12px;
    }

    body #home-news {
        background-size: 100% auto;
    }

    #home-newsletter {
        height: 250px;
        background-image: url('../images/newsletter_mobile.png');
    }

    #home-newsletter form {
        height: 300px;
    }

    #home-newsletter form select, #home-newsletter form input {
        width: 95%;
        margin: 0 auto;
        float: none;
        font-size: 12px;
        height: 30px;
    }

    #home-newsletter form select {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    body #home-newsletter input[type="submit"] {
        font-size: 12px;
        line-height: 10px;
    }

    #home-contact ul li {
        padding: 60px 10px 20px 10px;
    }

    #home-contact ul li img {
        max-width: 30px;
    }

    #home-newsletter p {
        font-size: 12px!important;
    }

    #footer-chat, #footer-map {
        max-width: 150px!important;
        margin: 0 15px!important;
    }

    #footer-map-icon {
        width: 15px!important;
    }

    button#footer-chat span, button#footer-map p {
        font-size: 11px!important;
    }

    #footer-chat:hover img {
        width: auto!important;
    }

    button#footer-chat span {
        text-align: left;
        width: 62%;
    }

    #footer-logo img {
        width: 75%;
    }

    #footer-mobile #footer-map {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .content #services-square-tiny-dark-red {
        bottom: -10%;
        left: -4%;
    }

    .content #services-square-tiny-dark-gray {
        bottom: -20%;
        left: -5%;
    }

    .padding-text-a {
        padding-top: 15px!important;
    }

    .padding-text-b {
        padding-top: 40px!important;
    }

    .padding-text-c {
        padding-top: 60px!important;
    }

    /* Home */
    .home-prod {
        background: none!important;
        padding-bottom: 50px!important;
    }

    body #home-contact ul li img {
        max-width: 30px;
    }

    body #home-contact ul li {
        display: inline-block;
        padding: 40px 10px 20px 10px;
    }

    .content#home-news h2 {
        padding-bottom: 0px;
    }

    #furukawa-world {
        margin-top: 30px;
    }

    div.free-wall {
        column-count: 1;
    }

    div.free-wall .brick {
        width: 100%!important;
        max-width: 100%!important;
        height: auto!important;
    }

    div.free-wall .brick p {
        /* font-size: 1.3em; */
    }

    .white-box {
        padding-bottom: 25px;
    }

    .white-box li.filtro-li a {
        font-size:13px!important;
    }

    /* End Of Home */
    /* Mega Menu */
    body #submenu-main-item-map ul {
        width: 45%;
        height: 190px;
        max-width: none!important;
        padding: 10px 5px;
    }

    #header-hover-submenu-big.active #submenu-main-item-map ul li {
        padding: 0px 0px 3px 10px!important;
    }

    #header-hover-submenu-big.active #submenu-main-item-map ul li a {
        font-size: 10px!important;
    }

    #submenu-main-item-header {
        margin-top: -15px;
    }

    #submenu-main-item-header img {
        margin-right: 0px!important;
    }

    #submenu-main-item-header .header-form, #submenu-main-item-header .submenu-main-item-close {
        position: absolute;
        right: 0px;
        top: 5px;
    }

    #submenu-main-item-header h4 {
        padding-right: 30px;
    }

    #submenu-main-item-map ul h3 {
        margin-bottom: 2px!important;
    }

    div#header-logo {
        max-width: 50%;
        padding: 25px 20px 25px;
        left: 50%;
        margin-left: -95px;
    }

    div#header-logo img {
        width: 115px;
        height: auto;
        max-width: 150px;
    }

    #header-bottom {
        display: block;
        position: initial!important;
    }

    #header-bottom ul {
        padding: 25px 0px;
        margin-top: 0;
        margin-right: -5px;
    }

    #header-bottom ul li {
        font-size: 12px;
    }

    .header-mobile-icons {
        width: 15px!important;
        margin: 0px 9%!important;
    }

    .header-form {
        display: none;
    }

    .site-modal-mobile-close {
        top: 5%;
        right: 5%;
    }

    .banner-dot {
        margin-top: 25px;
    }

    .tecnologia-video iframe {
        height: 150px!important;
    }

    /* Form */
    #button-file {
        background-size: 100px 100%;
    }

    .site-form form {
        padding: 20px;
    }

    .site-form form input, .site-form form textarea, .site-form form select, .site-form form button, .site-form form label, .site-form form p {
        font-size: 12px!important;
    }

    .site-form form input[type="submit"] {
        width: 100%;
        padding: 10px;
    }

    /* Sobre Nos */
    #timeline-content {
        width: 100%;
    }

    #timeline-content-image-white-line ul li {
        width: 1px;
    }

    #timeline-content-image #timeline-content-image-white-line ul li span {
        font-size: 8px;
    }

    div#codigo-etica p {
        max-width: 100%;
    }

    div#timeline-content-main h2 {
        padding-top: 100px;
        line-height: 40px;
    }

    .timeline-item-close {
        right: -9500%;
    }

    #timeline-content-image-white-line ul li:first-child, #timeline-content-image-white-line ul li:nth-child(2) {
        display: none;
    }

    #timeline-content-image-white-line ul li {
        height: 25px!important;
        margin-top: -20px!important;
    }

    #timeline-content-image-white-line ul li:nth-child(odd) {
        height: 35px!important;
        margin-top: -30px!important;
    }

    /* Responsabilidade Social */
    .rest-socioamb {
        font-size: 14px;
    }

    .rest-socioamb img {
        max-width: 100%;
    }

    .documents-bg {
        background: none!important;
    }

    .documents-bg #download-file ul li div {
        width: 70px;
        margin: 10px 5px;
        height: 86px;
        padding: 5px;
    }

    #socioambiental h1 {
        font-size: 34px!important;
        max-width: 100%!important;
        padding-left: 5%!important;
        line-height: 38px!important;
    }

    section.about-map div {
        width: 5px;
        height: 5px;
    }

    /* Pessoas e Carreiras */
    .botaoAnexoCurriculo {
        width: 125px;
    }

    /* Como Comprar */
    .documents-results ul li .documents-results-image h4 {
        font-size: 12px;
    }

    div#comprar-search {
        background-image: url("../../site_home/images/newsletter_mobile_bg.png")!important;
        background-size: 100% 100%;
    }

    div#comprar-search form select {
        width: 100%;
    }

    div#comprar-search form select:first-child {
        margin: 10px 2%;
    }

    #compra-links ul li .compra-links-item {
        min-height: auto;
    }

    div.produtos-lista button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .produtos-lista ul li img {
        padding: 10px;
    }

    .produtos-lista ul li p {
        font-size: 12px;
        line-height: 14px;
    }

    /* Produtos */
    div#products-filter-wrapper {
        width: 98%;
        top: 0%;
        left: -800px;
    }

    .produtos-block-gray {
        background-size: auto 100%;
    }

    .products-category-main li div h3 {
        padding: 0px 15px!important;
    }

    .products-category li {
        /* width: 35%!important; */
        /* padding: 10px!important; */
        /* min-height: 100px!important; */
        /* height: auto!important; */
    }

    .products-category li button {
        width: 90px!important;
        margin: 0 auto!important;
        margin-top: 10px!important;
        font-size: 10px;
        padding: 5px!important;
    }

    .products-category li h3 {
        font-size: 12px!important;
        line-height: 18px;
    }

    p.product-by {
        padding: 25px 35px 15px;
    }

    div.bg-catalogo-produtos {
        padding: 0!important;
    }

    .site-modal-cod-content h1 {
        margin-top: 12px;
    }

    .block-map.bg-products.products-bottom {
        background-image: url("../../site_catalogo_produtos/images/bg_mobile_prod.png");
    }

    /* Professional Services */
    #form-find select {
        width: 200px!important;
        float: none;
        margin: 0 auto;
        clear: both;
        display: block;
        margin-bottom: 25px;
    }

    div.psc-bg {
        background-image: none;
    }

    div.rs-bg {
        background-image: none;
    }

    div.block-prod-2 {
        background: none!important;
    }

    #furukawa-world.prof-fbs {
        background-image: -webkit-linear-gradient(#5798CB 7%, #0574CE 100%);
        background-image: -o-linear-gradient(#5798CB 7%, #0574CE 100%);
        background-image: linear-gradient(#5798CB 7%, #0574CE 100%);
    }

    /* IFT */
    .calendar-results.block-itens-info ul {
        padding-bottom: 50px;
    }

    .select-shadow-block {
        padding: 15px 0px;
    }

    .block-itens-info ul li section {
        padding: 10px 0px;
    }

    .calendar-results.block-itens-info ul li {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .calendar-results.block-itens-info ul li h3 {
        padding-bottom: 20px;
    }

    .calendar-results.block-itens-info ul li div img {
        padding-top: 40px;
    }

    .itf-gray-block ul li button {
        width: auto;
        margin-top: 25px;
        clear: both;
        float: right;
    }

    .itf-gray-block ul li div:first-child, .itf-gray-block ul li p {
        height: auto!important;
    }

    .ift-bg-bottom {
        background-image: none!important;
    }

    .white-box li {
        padding: 20px;
        height: auto;
    }

    .newsroom-bg {
        background-image: none;
    }

    .ift-login {
        padding: 8px 35px;
        font-size: 15px;
        left: 50%;
        margin-left: -70px;
        top: inherit;
        bottom: 25px;
    }

    /* Solucoes */
    .solucao-wall h2 {
        font-size: 15px!important;
        line-height: 18px!important;
    }

    .solucao-wall h3 {
        font-size: 11px!important;
        line-height: 14px!important;
    }

    .solucao-wall h3, .solucao-wall h2 {
        padding: 0px;
    }

    .solucao-wall .absolute {
        padding: 1% 1%;
    }

    #solutions-category-content h3 {
        padding-left: 20px;
    }

    #solutions-category-content .padding-pattern h3, #solutions-category-content .padding-pattern p {
        padding: 0px;
    }

    .padding-pattern p {
        padding-bottom: 20px!important;
    }

    .solution-masonry {
        width: 100%;
        height: auto;
    }

    div.solution-masonry h3 {
        padding: 5px!important;
        font-size: 13px;
        line-height: 21px;
        width: auto;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .text-side {
        max-width: none;
    }

    div.padding-pattern h3 {
        padding-left: 40px;
        /* max-width: 70%; */
        overflow: hidden;
    }

    /* Suas Cotacoes */
    div#cart {
        background-image: none!important;
        margin-top: 20px;
    }

    #cart-buttons {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        float: none;
    }

    div#cart-buttons button {
        width: 44%;
        max-width: 45%;
        margin: 10px 3%;
    }

    div#cart-buttons button:last-child {
        max-width: 100%;
        width: 94%;
    }

    #cart-buttons button:last-child {
        max-width: 100%;
        width: 96%;
    }

    button#cart-send a {
        font-size: 11px;
    }

    /* FAQ */
    .links-rapidos ul {
        background: none;
    }

    .links-rapidos ul li {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    div.faq-search input[type="text"] {
        height: 40px;
        top: 10px;
    }

    .suporte-tecnico-form {
        background-size: 100% auto;
    }

    /* Novos estilos */
    #faq-result.padding-pattern.faq-bg3 div h3 {
        font-size: 15px;
        font-weight: 700 !important;
        line-height: 20px;
        max-width: 100%;
        padding-left: 0;
    }

    #faq-result.padding-pattern.faq-bg3 div p {
        padding-bottom: 0 !important;
    }

    #faq-result.padding-pattern.faq-bg3 div ul li a p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 20px !important;
    }

    #faq-result.padding-pattern.faq-bg3 div ul li a p.style-solution {
        font-size: 15px;
    }

    #faq-result ul li {
        padding-bottom: 10px !important;
    }

    #faq-result .faq-bg3 {
        background-position: right 15px;
    }

    #faq-result p.resultado-count {
        line-height: 18px;
    }

    #faq-result ul li:first-child {
        margin-top: 40px !important;
    }

    #faq-result .faq-result-list-text span {
        display: none !important;
    }

    /* Detalhes */
    .faq-result-details.padding-pattern.faq-bg4 p {
        font-size: 12px;
        line-height: 20px;
        padding-top: 20px !important;
    }

    .faq-result-details.padding-pattern.faq-bg4 p.faq-result-details-content-text {
        font-size: 18px;
        line-height: 25px;
    }

    #faq-result .faq-result-details-content {
        margin-top: 10px !important;
    }

    .faq-result-details-content-answer {
        margin: 20px 0 !important;
        padding-bottom: 10px !important;
    }

    .faq-result-details-content-answer button {
        margin: 25px 10px !important;
        padding: 6px 20px !important;
    }

    .faq-result-details-content ul {
        padding-top: 20px !important;
    }

    #solucao_visitadas, .respostas-relacionadas {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 -15px;
    }

    .faq-bg4 {
        background-position: left center !important;
    }

    p.bread-crumb-faq {
        font-size: 16px !important;
    }

    .faq-result-details-content ul li {
        margin-bottom: 10px !important;
        line-height: 20px !important;
    }

    #faq-content ul li h3.solution-name {
        font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 20px !important;
        max-width: 100% !important;
    }

    #faq-content ul.col-sm-12.respostas-resultados {
        padding: 0 !important;
    }

    #faq-content ul li .respostas-resultados-text p {
        font-size: 14px !important;
        line-height: 18px !important;
        padding: 0 !important;
    }

    #faq-content .respostas-resultados li {
        height: auto !important;
        margin-bottom: 30px !important;
    }

    #faq-content #qualidade {
        padding: 50px 15px !important;
        margin-bottom: 30px !important;
    }

    #faq-content #qualidade h2 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    #faq-content #qualidade p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .links-rapidos {
        padding-bottom: 0 !important;
    }

    .text-content ul li p {
        padding: 0 !important;
    }

    .links-rapidos ul li div {
        padding: 10px 10px 40px;
    }

    .links-rapidos ul li div h4 {
        padding: 0 0 15px 0px;
    }

    .links-rapidos ul li div h4 a {
        padding: 0;
    }

    .links-rapidos ul li div h4 {
        margin: 30px 0 0 !important;
    }

    /* Final Novos estilos */
    /* Onde Encontrar */
    #onde-encontrar-result ul:first-child li {
        max-width: 400px;
        float: none;
        margin: 0 auto;
    }

    div.banner-video {
        /*right: 5%;*/
        z-index: 999;
        bottom: 18%;
        color: white;
        height: 535px!important;
    }    

    #banner-top-descriptions {
        margin-top: 0!important;
    }

    #pesquisa h2, #pesquisa p {
        text-align: left!important;
    }

    #site-modal-footer {
        /* height: 60px!important; */
    }

    #site-modal-footer p {
        top: inherit!important;
        /* bottom: 18%!important; */
        /* font-size: 5px!important; */
        line-height: 12px!important;
    }

    #button-file {
        background-size: 70px 100%!important;
    }

    #button-file p {
        padding: 0!important;
    }
}

@media (max-width: 767px) {

    .mobile-block {
        display: block!important;
    }

    .mobile-none {
        display: none!important;
    }

    .mobile-block.hidden-768 {
        display: block!important;
    }

    .mobile-none.visible-768 {
        display: none!important;
    }

    .padding-pattern .img-full-width {
        width: 106%!important;
        margin-left: -3%;
    }

    div.newsletter select, .newsletter input {
        width: 80%!important;
        font-size: 14px;
        font-weight: 400;
    }

    div.products-filter-anchor-menu {
        width: 100%;
        padding-left: 13px;
    }

    .products-filter-anchor {
        background-color: #EEE !important;
    }

    p.product-by {
        color: white!important;
        line-height: 50px;
        font-size: 20px;
        padding: 0 35px;
    }

    .conexao-details-body {
        width: 100%!important;
        padding-left: 20px!important;
        padding-right:20px!important;
    }

    #service-details h4 {
        padding-top: 40px;
    }

    .produtos-block-gray button {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
        float: none;
    }
    .white-box {
        padding:0 0 25px
    }
    .newsletter {
        height: 300px;
    }

    .newsletter.content {
        overflow: visible!important;
    }

    .newsletter form {
        background-image: url("../../site_home/images/newsletter_mobile_bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .newsletter img {
        min-height: inherit!important;
    }

    .newsletter #footer-chat {
        display: none!important;
    }

    div.equipe-bg {
        background-image: none;
    }

    div#furukawa-world {
        text-align: center;
        background-image: url("../../site_home/images/fworld_bg_m.png");
        background-size: 100% auto;
        background-position: center center;
        min-height: 230px;
        padding: 30px 10px;
    }

    div#furukawa-world.bg-products.products-bottom {
        background-image: url("../../site_catalogo_produtos/images/bg_mobile_prod.png");
    }

    #furukawa-world button {
        margin: 0 auto!important;
        float: none!important;
    }

    #furukawa-world p {
        margin: 30px 0px;
    }

    #products-relative-content ul li .img-box {
        border: 0px!important;
    }

    div#products-relative-content ul li .img-box-content {
        display: table!important;
        width: 50%;
        float: left;
        border: 1px solid #979797;
        border-radius: 5px;
        height: 100px;
    }

    div#products-relative-content ul li p {
        width: 50%;
        height: 100px;
        float: right;
        padding-top: 15px;
        padding-left: 20px;
    }

    div#products-relative-content ul li button {
        /* width: 20%; */
        float: right;
        font-size: 10px;
    }

    .bg-catalogo-produtos-fcs {
        background-image: url(../../site_catalogo_produtos/images/fcs_bg_m.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: auto auto;
        padding: 0px;
        width: 100%;
    }

    .bg-catalogo-produtos-fbs {
        background-image: url(../../site_catalogo_produtos/images/fbs_bg_m.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: auto auto;
        padding: 0px;
        width: 100%;
    }

    div#products-relative-content ul li .img-box {
        display: table-cell!important;
        vertical-align: middle!important;
    }

    #products-main-results {
        margin: 20px 10px 0;
        padding: 0 12px 5px 2px;
    }

    #products-results-list {
        padding: 10px 22px 10px 12px;
    }

    .produtos-block-gray {
        text-align: center;
        box-shadow: none;
        border-bottom: 2px solid #b80a03;
    }

    #products-relative-content-at p {
        margin-left: 11px;
        line-height: 30px!important;
    }

    #products-relative-content ul {
        padding-top: 20px;
    }

    #products-relative-content ul li {
        margin-bottom: 30px!important;
    }

    #products-relative-content ul li .img-box-content {
        margin-bottom: 0;
    }

    #products-relative-content ul li .row {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .block-map h2 {
        padding: 0;
    }

    #logo-footer-mobile {
        max-width: 166px!important;
    }

    .error-404, .error-505 {
        height: 152px;
        margin-bottom: 0;
    }

    .error-404:before, .error-505:before {
        top: 35%;
        font-size: 120px;
    }

    .error-msg h1 {
        font-size: 40px!important
    }

    .fast-links {
        background-image: none;
    }

    .fast-links .col-sm-3 {
        margin-bottom: 30px;
    }

    .white-box li {
        padding: 10px 20px;
        background: #fff;
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
    .mobile-block#footer-map, .mobile-block#footer-chat {
        width: 130px;
        padding: 10px 4px;
    }

    .dot-main-top {
        margin-top: -.7em;
    }

    body #footer-chat img {
        margin-left: 0;
        top: -4px;
    }

    button#footer-chat span {
        margin-top: -4px;
    }

    p.product-by {
        font-size: 16px;
        line-height: 66px;
    }

    #products-relative-content ul li .row {
        width: calc(100% - 165px);
    }

    div#products-relative-content ul li .img-box-content {
        width: 145px;
        height: 102px;
    }

    div#products-relative-content ul li p {
        width: calc(100% - 165px);
        height: 60px;
        overflow: hidden;
        display: block;
        padding-left: 0;
        padding-top: 10px;
    }
    
}

@media (max-width: 420px) {
    div.banner-video {
        height: 230px!important;
    }

    .dot-main-top {
        margin-top: -1.25em;
    }
}

@media (max-width: 375px) {
    div#products-relative-content ul li button {
        font-size:8px;
    }
}
