#trabalhe-conosco {
  background-image: url("../images/bg.png");
  background-position: center center;
  background-size: auto 100%;
}

.botaoAnexoCurriculo {
    width: 180px;
    border: 1px solid #D42422;
    background-color: #D42422;
    color: #FFFFFF;
    font-weight: lighter;
    margin-bottom: 30px;
}
.site-form form {
    max-width: 750px;
    margin: 0 auto;
}
.site-form form label {
    border-radius: 0px 10px 10px 0px;
}
#site-modal-content {
    background-color: white!important;
}
.max-width-img {
    max-width: 100%;
}
.errorMsg {
    float: left;
    display: block;
    margin-top: -14%;
    color: #d42422;
}
#uploader {
    display: none;
}
.bg-wrapper {
    background:url("/resource/1505883471000/site_pessoas_e_carreiras/images/equipe_bg.png") no-repeat;
    margin-top: 60px;
}
.equipe-bg {
    background-image: url("/resource/1505883471000/site_pessoas_e_carreiras/images/equipe_button_bg.png");
    background-size: 140px auto;
    background-position: left 215px bottom 70px;
    padding-bottom: 50px;
}
.equipe-bg h2 {
    margin-top: 70px;
}
#trabalhe-conosco {
    background-position: 10px 20px;
}
.square-tiny {
    width: 30px;
    height: 30px;
}
.square-small {
    width: 50px;
    height: 50px;
}
.erro
{
    border: 1px solid red!important;
    color: red;
}    
.erro::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: red!important;
}
.erro:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: red!important;
   opacity:  1;
}
.erro::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: red!important;
   opacity:  1;
}
.erro:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red!important;
}
.erro::-ms-input-placeholder { /* Microsoft Edge */
   color: red!important;
}

@media (max-width: 1180px) {
    .bg-wrapper {
        background-size: 90px auto;
        margin-top: 20px;
    }
    body .equipe-bg {
    background-position: left 210px bottom 50px;
    background-size: 120px auto;
    }
    .square-tiny {
        bottom:5%;
    }
    .square-small {
        bottom:-5%;
    }
}
@media (max-width: 992px) {
    .square-tiny {                        
        left: 27%;
        width: 17px;
        height: 17px;
        bottom: 4%;
    }
    
    .square-small {
        right: 75%;
        width: 30px;
        height: 30px;
        bottom: -2%;
    }
}
@media (max-width: 768px) {
    body .equipe-bg {
        background-position: left 142px bottom 56px;
        background-size: 80px auto;
    }
    .box-space {
        display:none;
    }
    .padding-text-b {
        padding-top: 10px!important;
    }
}
@media (max-width: 767px) {
    #trabalhe-conosco p {
        margin-top: 0;
    }
    .btn-wrapper {
        position: relative;
        display: inline-block;
        float: right;
    }
    .btn-wrapper:before {
        content:'';
        display: block;
        background-color: #888889;
        border-radius: 3.21px;
        width: 26px;
        height: 26px;
        position: absolute;
        top:-10px;
        left: -10px;
    }
    .btn-wrapper:after { 
        content:'';
        display: block;              
        background: #D8D8D8;
        border-radius: 1.8px;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 26px;
        left: 130px;
    }
    .bg-wrapper {
        background-image:none;

    }
    .equipe-bg h2 {
        margin-top: 10px;
    }
    .padding-pattern img.img-full-width {
        width: 80%!important;
        margin-left: -3%;
        min-width: 300px;
    }

    .padding-pattern img.img-full-width.right {
        margin-left: 0;
        margin-right: -3%;
    }
}
@media (max-width: 720px) {
    .equipe-bg button {
        float: right;
    }                    
}

