@media screen and (max-width:480px){
	.toplinks{
		display:none;
	}
	.logo-img{
		padding: 20px 0;
	}
	.slick-slide .ct-header{
		background-repeat: no-repeat;
		background-size: contain;
	}
	#marcas .row{
		/*width: initial;*/
	}
	#marcas .row div{
		flex-basis: auto;
	}
	section#professional-services{
		background-size: 100%;
		margin-top:180px;
		background-position: top;
	}
	#professional-services .row {
		width: 100%;
	}
	#professional-services .content {
		padding: 80% 5% 0;
	}
	#professional-services .page-title h1 {
		font-size: 25px;
	}
	#contact-us {
		margin-top: 20px;
	}
	#contact-us .content{
		padding: 100px 5% 0;
	}
	.row {
		width: auto;
	}
	.endthissite{
		height: 80px;
		margin-bottom:75px;
	}
	#mobilefixedmenu{
		position: fixed;
		bottom: 0;
		border-radius: 0;
		border: 1px solid #ccc;
		z-index: 1000;
		box-shadow: 0 -1px 15px -2px #bcbcbc;
		width: 100%;
	}
	#mobilefixedmenu ul{
		display: inline-flex;
		width: 100%;
	}
	#mobilefixedmenu li{
		padding: 8px;
		width: 33.3%;
		border-right: 1px solid #efefef;
	}
	#mobilefixedmenu svg{
		fill:#B90504;
		max-width:25px;
	}
	#mobile-menu .btn-white{
		padding: 10px 40px;
	}
	#to-top {
		padding: 5px 8px;
		bottom:50px;
	}
	.sticky{
		border-bottom: none;
	}
	#newsletter{
		background-color: #B90504;
		margin-bottom: 0;
	}
	#newsletter .btn-red{
		padding:10px 40px;
		/*margin: 0 5px;*/
	}
	#newsletter .fill{
		position: inherit;
		border-radius: 0;
		height: 120px;
	}
	#newsletter .form-row div{
		margin-bottom:10px;
	}
	#newsletter .fill div{
		text-align: center;
	}
	#newsletter .form-check{
		color:#fff;
		/*display: flex;*/
	}
	#newsletter .form-check span{
		/*width: 100%;*/
		margin-bottom:15px;
		display: block;
		text-align: center;
	}
	#newsletter .responsive-newsletter{
		padding: 0 1rem !important;
		margin-bottom:15px;
	}
	#newsletter .cbx{
		display: inline-flex;
		font-size:0.9rem;
		margin-left: 1rem;
	}
	#newsletter .inp-cbx:checked + .cbx span:first-child {
		background: #E61C38;
		border-color: #E61C38;
	}
	#newsletter .cbx span:first-child{
		border-color:#fff;
	}
	#footer{
		margin: 0;
		padding:0;	
		position: inherit;
	}
	.endthissite .row div {
		text-align: center;
	}
	.developby{
		padding-top: 20px;
	}
	.sticky {
		position: inherit;
	}
	#my-icon {
		padding: 25px 0 0 0;
		background-color: #fff;
		border:none;
	}
	.modal-dialog {
		max-width: 96%;
	}
	#footer .footer-middle{
		padding: 0;
	}
	.footer-middle .menu ul{
		display: none;
	}
	.footer-middle > div{
		border-bottom: 1px solid #ccc;
		padding: 10px 10px 5px 10px;
	}
	#footer h2.fur-red:before{
		display: block;
	    content: " ";
	    background: transparent;
	    height: 0px;
	    width: 15px;
	    border-top: 7px solid #000;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    right: 20px;
	    border-radius: 5px;
	    top: 23px;
	    /* margin-top: -1px; */
	    position: absolute;
	    transform: rotate(0deg);
	    transition: transform .25s ease;
	}
	/*#footer h2.fur-red:after{
		display: block;
		content: " ";
		background: #666;
		width: 2px;
		height: 16px;
		right: 27px;
		top: 23px;
		margin-top: -8px;
		position: absolute;
		transform: rotate(0deg);
		transition: transform .25s ease;
	}*/
	#footer .active h2.fur-red:before{
		transform: rotate(-180deg);
	}
	/*#footer .active h2.fur-red:after{
		transform: rotate(-45deg);
	}*/
	#footer .footer-middle .menu ul li {
		line-height: 30px;
	}
	#footer .footer-middle .menu ul li a{
		font-size: 1.1em;
	}
	#footer .footer-middle .social-media li {
		margin-right: 0; 
		font-size: 2em;
		width: 33.3%;
	}
	#footer .footer-middle .social-media{
		text-align: center;
		list-style: none;
		border-top: 1px solid #ccc;
		padding: 20px 0;
	}
	.popover-body .social-media {
		display: flex;
		font-size: 1.5em;
	}
	.popover-body .social-media li {
		padding: 15px;
		font-size: 1.2em;
	}
	#modal-ouvidoria .modal-dialog{
		width: 96%;
	}
	.sticky{
		margin-bottom: 0;
		transition: .4s;
		border-bottom: 1px solid #f0f0f0;
	}
	.cookies-adv{
		/*height: 155px;*/
		text-align:left;
	}
	p.square-red,
	p.square-gray{
		display: none;
	}
	.owl-buttons{
		display: none;
	}
	#fur-no-mundo .form-mundo .dropdown button{
		width: 86%;
	}
	#search-mobile.active{
	position: static;
	}
	.cookies-adv .dismiss {
	    padding: 10px 0;
	    position: absolute;
	    text-align: right;
	    padding: 10px;
	}
	.cookies-adv .row .text{
		padding: 0 40px 0 10px;
	}
	.cookies-adv .cookie-button{
		padding-top:10px;
	}
	#newsletter .fill div h2{
		padding-left:0 !important;
	}
	#solucoes-furukawa .section-subtitle{
		padding:8px;
	}
	.owl-carousel .owl-item {
	    /*float: left;
	    margin-right: 5px;*/
	}
	#contact-us .section-subtitle{
		padding: 0;
	}
	li.out.current span {
    	margin-left: 10px;
	}
	#mobile-menu li.out span {
    	margin-left: 10px;
	}
	li.out:before {
	    content: "• ";
	    position: absolute;
	    top: 10px;
	    left: 15px;
	}
	li.current:before {
	    font-family: 'Font Awesome 5 Free';
	    content: "\f3c5";
	    display: inline-block;
	    padding-right: 3px;
	    font-weight: 900;
	    top: 10px;
	    position: absolute;
	    left: 15px;
	}
	#carousel-mobile .owl-controls {
	    /* margin-top: 6px; */
	    text-align: center;
	    position: absolute;
	    margin-right: auto;
	    margin-left: auto;
	    border-top-left-radius: 7px;
	    border-top-right-radius: 7px;
	    left: 0;
	    right: 0;
	    width: 25%;
	    bottom: -5px;
	    z-index: 100;
	    background: white;
	}
	.header-mobile .col{
		padding: 0;
	}
	
}
@media screen and (max-width: 365px){
	.select{
		width:80%;
	}
	#fur-no-mundo .form-mundo .dropdown button {
		width: 86%;
	}
	#fur-no-mundo .form-mundo .dropdown button:after {
		right: 22px;
	}
	#newsletter .cbx {
		display: inline-flex;
		font-size: 0.9rem;
		font-size: 0.8em;
	}
	.header-mobile .col{
		padding: 0;
	}
	#footer .menu h2{
		font-size:16px;
	}
	#fur-no-mundo h1{
		font-size: 28px;
	}
	#solucoes-furukawa .owl-item img{
		max-width: 95%;
	}


}
@media screen and (min-width:574px) and (max-width:767px){
	#newsletter .fill{
		margin-top:20px;
	}
	#newsletter .form-check{
		display: flex;
	}
	#search-mobile.active{
		left:0;
		right:0;
	}
	.owl-buttons{
		display: none;
	}
	#carousel-mobile .owl-controls {
	    /* margin-top: 6px; */
	    text-align: center;
	    position: absolute;
	    margin-right: auto;
	    margin-left: auto;
	    border-top-left-radius: 7px;
	    border-top-right-radius: 7px;
	    left: 0;
	    right: 0;
	    width: 25%;
	    bottom: -5px;
	    z-index: 99999999;
	    background: white;
	}
	.header-mobile .col{
		padding: 0;
	}
}
@media screen and (min-width:480px) and (max-width:767px){
	.toplinks{
		display:none;
	}
	.owl-buttons{
		display: none;
	}
	.logo-img{
		padding: 20px 0;
	}
	.slick-slide .ct-header{
		background-repeat: no-repeat;
		background-size: contain;
	}
	#marcas .row{
		/*width: initial;*/
	}
	#marcas .row div{
		margin-bottom:30px;
		flex-basis: auto;
	}
	section#professional-services{
		background-size: 100%;
		margin-top:180px;
		background-position: top;
	}
	#professional-services .row {
		width: 100%;
	}
	#professional-services .content {
		padding: 75% 5% 0;
	}
	#professional-services .page-title h1 {
		font-size: 25px;
	}
	#contact-us {
		margin-top: 20px;
	}
	#contact-us .content{
		padding: 50px 15% 0;
	}
	.row {
		width: auto;
	}
	.endthissite{
		height: 80px;
		margin-bottom:40px;
	}
	#mobilefixedmenu{
		position: fixed;
		bottom: 0;
		border-radius: 0;
		border: 1px solid #ccc;
		z-index: 1000;
		box-shadow: 0 -1px 15px -2px #bcbcbc;
		width: 100%;
	}
	#mobilefixedmenu ul{
		display: inline-flex;
		width: 100%;
	}
	#mobilefixedmenu li{
		padding: 5px;
		width: 33.3%;
		border-right: 1px solid #efefef;
	}
	#mobilefixedmenu svg{
		fill:#B90504;
		max-width:25px;
	}
	#mobile-menu .btn-white{
		padding: 10px 40px;
	}
	#to-top {
		padding: 5px 8px;
	}
	.sticky{
		border-bottom: none;
	}
	#newsletter{
		background-color: #B90504;
		margin-bottom: 0;
	}
	#newsletter .btn-red{
		padding:10px 40px;
	}
	#newsletter .fill{
		position: inherit;
		border-radius: 0;
		height: 120px;
	}
	#newsletter .form-row div{
		margin-bottom:10px;
	}
	#newsletter .fill div{
		text-align: center;
	}
	#newsletter .form-check{
		color:#fff;
		/*display: flex;*/
	}
	#newsletter .form-check span{
		/*width: 100%;*/
		margin-bottom:15px;
		display: block;
		text-align: center;
	}
	#newsletter .responsive-newsletter{
		padding: 0 1rem !important;
		margin-bottom:30px;
	}
	#newsletter .cbx{
		display: inline-flex;
		font-size:0.9rem;
		margin-left: 1rem;
	}
	#newsletter .inp-cbx:checked + .cbx span:first-child {
		background: #E61C38;
		border-color: #E61C38;
	}
	#newsletter .cbx span:first-child{
		border-color:#fff;
	}
	#footer{
		margin: 0;
		padding:0;	
		position: inherit;
	}
	.endthissite .row div {
		text-align: center;
	}
	.developby{
		padding-top: 20px;
	}
	.sticky {
		position: inherit;
		margin-bottom: 0;
		transition: .4s;
	}
	#my-icon {
		padding: 20px 0 0 0;
	}
	.header-mobile div{
		padding:20px 0 0 0 ;
	}
	.modal-dialog {
		max-width: 96%;
	}
	#footer .footer-middle{
		padding: 0;
	}
	.footer-middle .menu ul{
		display: none;
	}
	.footer-middle > div{
		border-bottom: 1px solid #ccc;
		padding: 10px 10px 5px 10px;
	}
	#footer h2.fur-red:before{
		display: block;
		content: " ";
		background: #666;
		height: 2px;
		width: 16px;
		right: 20px;
		top: 23px;
		margin-top: -1px;
		position: absolute;
		transform: rotate(0deg);
		transition: transform .25s ease;
	}
	#footer h2.fur-red:after{
		display: block;
		content: " ";
		background: #666;
		width: 2px;
		height: 16px;
		right: 27px;
		top: 23px;
		margin-top: -8px;
		position: absolute;
		transform: rotate(0deg);
		transition: transform .25s ease;
	}
	#footer .active h2.fur-red:before{
		transform: rotate(-45deg);
	}
	#footer .active h2.fur-red:after{
		transform: rotate(-45deg);
	}
	#footer .footer-middle .menu ul li {
		line-height: 30px;
	}
	#footer .footer-middle .menu ul li a{
		font-size: 1.1em;
	}
	#footer .footer-middle .social-media li {
		margin-right: 0; 
		font-size: 2em;
		width: 33.3%;
	}
	#footer .footer-middle .social-media{
		text-align: center;
		list-style: none;
		border-top: 1px solid #ccc;
		padding: 20px 0;
	}
	.popover-body .social-media {
		display: flex;
		font-size: 1.5em;
	}
	.popover-body .social-media li {
		padding: 15px;
		font-size: 1.2em;
	}
	#modal-ouvidoria .modal-dialog{
		width: 96%;
	}
	#search-mobile.active{
		position: static;
	}
	.cookies-adv .dismiss {
	    padding: 10px 0;
	    position: absolute;
	    text-align: right;
	    padding: 10px;
	}
	#footer .menu h2{
		font-size:16px;
	}
	#solucoes-furukawa .section-subtitle{
		padding:0;
	}
}
@media screen and (min-width:768px) and (max-width:991px){
	li.dropdown {
		margin: 0 10px;
	}
	.logo-img{
		padding: 20px 0;
	}
	.sticky{
		border-bottom: none;
	}
	#footer .collapse:not(.show){
		display: block !important;
	}
	.sticky {
		position: inherit;
	}
	.slick-slide .ct-header {
		background-repeat: no-repeat;
		background-size: auto;
	}
	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.responsive-newsletter{
		padding-left: .25rem!important;
		padding-right: .25rem!important;
	}
	.responsive-newsletter .cbx{
		margin-left:0;
	}
	#contact-us .banner {
		background-repeat: no-repeat;
		background-size: contain;
	}
	.sticky {
		margin-bottom:0;
	}
	.header .btn-white{
		padding:15px;
		font-size: 0.7em;
	}
	.search-site{
		padding:30px 0;
	}
	.where-to-buy{
		padding:32px 0;
	}
	.location{
		padding:15px 0 0;
	}
	.cookies-adv{
		height: 90px;
	}
	#main-menu{
		position: inherit;
	}
	.navbar-nav .dropdown-menu{
		position: absolute;
	}
	p.square-red,
	p.square-gray{
		display: none;
	}
	#professional-services .content {
    	padding: 40px 0 40px 65px;
	}
	#contact-us .content{
    	padding: 50px 15% 0;
	}
	#fixedlocation{
	    top: 9%;
	    right: 3%;
	}
	#newsletter .fill div h2{
		padding-left:0 !important;
	}
	#newsletter .btn-red{
		padding:0;
		max-width:none;
		padding: 7px;	
	}
	.user-links li{
		padding:0 10px;
	}
	.language-selector ul{
		display: flex;
	}
	#contact-us .content {
    	padding: 50px 5% 0;
	}
	#contact-us .section-subtitle{
		padding: 0;
	}


}
@media screen and (min-width:992px) and (max-width:1200px){
	.toplinks{
		display:-webkit-box;
	}
	.logo-img{
		padding: 10px 0;
	}
	#main-menu{
		top:115px;
	}
	li.dropdown {
		margin: 0 6px;
	}
	#footer .collapse:not(.show){
		display: block !important;
	}
	.cbx{
		margin-left: 1rem;
	}
	.responsive-newsletter .form-check{
		padding-bottom: 1rem!important;
		padding-top: 1rem!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	/*.sticky {
		margin-bottom:65px;
	}*/
	#fur-no-mundo .form-mundo .dropdown button {
    width: 86%;
}
@media screen and (min-width:1200px){
	.toplinks{
		display:-webkit-box;
	}
	.logo-img{
		padding: 7px 0;
	}
	#footer .collapse:not(.show){
		display: block !important;
	}
}